[2014-02-20 12:20] gsfr opened #1 "make schemas metawidget-compatible"

[2014-02-21 00:34] Minda opened #2 "note fields is not coming through on experiment API call"
Request URL:https://localhost/nimsapi/experiments?user=gsfr

[2014-02-21 00:37] Minda opened #3 "Collection Creation seems to be not working"
Today when kevin and I went to create a collection, even though the post was successful and everything looked good in the log, it didn't create a new collection

[2014-02-21 03:22] #2 closed, assigned to gsfr

[2014-02-21 03:22] #3 closed, assigned to gsfr

[2014-02-22 00:54] kevlarkevin opened #4 "begin transition to oauth2"
Begin to add support for oauth2.
- part 1 nimsapi will accept 'access_token' in request's Authorization header or 'user' as url encoded parameter.  If 'access_token' and 'user' are both supplied, 'access_token' will be used.
- part 2 - nimsapi p2p requests will add authenticated user id to header before dispatching to remote site.

[2014-02-25 20:07] kevlarkevin opened #6 "internims p2p signature to include info about request"
Internims p2p request signature should be created from information about the request itself, such as request method, request parameters and request headers, in addition to the request body.

[2014-02-25 22:45] #4 closed, assigned to nobody

[2014-02-28 02:34] Minda opened #8 "creating a collection when logged in logs user out"
the collection also doesn't get created

I'm guessing maybe we need to pass the access token to the api when we do the post?

[2014-02-28 05:09] #8 closed, assigned to nobody

[2014-03-05 01:57] #6 closed, assigned to nobody

[2014-04-25 21:12] kevlarkevin opened #10 "internimsclient also report remote users with group access"
related to cni/nimsweb#66

internimsclient is to report on remote users with experiment (project) access, collection (virtual project) access, and group membership.

[2014-12-16 04:34] #1 closed, assigned to gsfr

[2014-12-16 04:40] gsfr opened #12 "localpaths"
Add ```localpaths``` option to project, session, and acquisition details.

[2014-12-16 04:48] gsfr opened #13 "single file downloads"
Add single file download capability to ```GET /nimsapi```, specifying level, id, and a unique file description in a JSON request body.

[2014-12-16 04:55] gsfr opened #14 "targeted uploads"
Add handling for targeted uploads (user or processor-specified container level and ID) to ```PUT /nimsdata```. Such uploads will come in as ```multipart/form-data``` and need to be differentiated from sortable uploads (such as those from the reaper), which carry no additional information.

[2015-01-07 22:55] #12 closed

[2015-03-21 23:21] gsfr opened #15 "access control for file and attachment uploads"
No permissions checking is currently done for attachment uploads. Use ```Container._get()``` to do it:
[code]
Also, file uploads currently require admin permission, but that should probably be changed to read-write as well.

[2015-03-23 05:45] gsfr opened #16 "option to include attachments in batch downloads"
Updates to code and schema needed.

[2015-07-13 15:34] kofalt commented on #10
Closing as I believe this to be obsolete.

[2015-07-13 15:34] #10 closed

[2015-07-13 15:35] kofalt commented on #13
Closing as I believe this to be obsolete.

[2015-07-13 15:35] #13 closed

[2015-07-13 15:36] kofalt commented on #15
This looks like it can be closed - ref commits by @kevlarkevin that seem to add the feature mentioned.
Thoughts?

[2015-07-13 15:36] kofalt commented on #14
There are several commits that appear to reference this feature above - can this ticket be closed?

[2015-07-14 05:38] gsfr commented on #14
Let's leave this open until the following functionality is in place:
```GET /.../file/<filename> + oauth token``` -> stream file
```GET /.../file/<filename>?ticket=``` -> download ticket request
```GET /.../file/<filename>?ticket=<ticket>``` -> download file
```GET /.../file/<filename>?ticket=<ticket>&view=true``` -> stream file
```POST /.../file/<filename>``` -> upload new file
```PUT /.../file/<

[2015-07-14 05:50] gsfr commented on #15
Closed by 15cc166cb6b42f2cf55c161d02e5f5b092af204c.

[2015-07-14 05:50] #15 closed

[2015-07-14 05:55] gsfr commented on #10
I don't think that remote group membership reporting ever got implemented, but we probably don't even want to allow that.

[2015-07-14 15:07] kofalt commented on #10
Agreed, or at least we can tackle that when we discuss distributed authorization at length.

[2015-07-14 15:12] kofalt commented on #14
Not to my knowledge.

[2015-07-14 18:45] rentzso commented on #14
no, even though we are using:
```GET /.../acquisitions/<acquisition_id>/tile?<coordinates> + oauth token``` -> download tiles

We may opt to use that GET variant instead

[2015-07-20 19:40] kofalt opened #27 "Upgrade mongo usage"
As mentioned in #25, we're using some pymongo functions which are deprecated; see diff there for more details. Eventually it might be wise to upgrade those.

[2015-08-19 22:42] gsfr commented on #14
Done.

[2015-08-19 22:42] #14 closed

[2015-08-24 17:54] Eric89GXL opened #34 "Q: module organization"
I'm looking through the module, and it looks like the organization has some non-standard conventions, which is making it a little more challenging than usual for me to understand:

* imports are absolute (`import apps`) instead of relative (`from . import apps`) so it's tough to tell what is from the local package vs built-in or external imports
* scripts like `bootstrap.py` are in the same locati

[2015-08-24 22:26] gsfr commented on #34
Thank you. I think that would be great to have. It seems to make sense to do this before we take on scitran/scitran#2.

[2015-08-25 13:59] Eric89GXL commented on #34
Hmm, now that I think about it, it might actually be easier to take care of this all at once as part of scitran/scitran#2 since it will require changing paths that the core bit of `scitran` needs.

[2015-09-01 22:13] #34 closed

[2015-09-02 23:54] #27 closed

[2015-09-05 20:15] kofalt opened #43 "Coalesce oAuth token requests"
Checking a new oauth token with the provider is [currently unconditional](https://github.com/scitran/api/blob/5b02572d351fcf3db688d0be22d27d21eee6345e/api/base.py#L41). This results in more upstream provider calls than are necessary if more than one API request occurs in a short interval with the new token.

Example: when our web app [receives a token error](https://github.com/scitran/api/blob/5b0

[2015-09-08 17:08] gsfr commented on #43
Thanks, @kofalt. How urgent is this? @josschne mentioned an issue with rate-limiting. As far as I know, we've never run into this with SDM. Pinging @rentzso confirmation/advice.

[2015-09-08 17:51] kofalt commented on #43
I don't think it's very urgent, I mainly wanted to track it as an opportunity. I've been meaning to import GH labels from a successful OSS project I like, and if I had this would be tagged "p:low" :)

@josschne Hit Google's API limit during some testing, but I'm not currently convinced a site will be likely to hit that in production. OTOH, if this reduces upstream oAuth provider calls by a factor

[2015-09-08 18:01] josschne commented on #43
Definitely saw a rate limit error from Google, but it was while testing with invalid oauth tokens (part of how I was testing a refresh scenario without having to wait an hour). Basically if an app hits the API with a bunch of requests with a new/refreshed token, there is a window during which each of them will result in a separate request out to Google. Agree with @kofalt and @gsfr that this is a

[2015-09-08 21:12] rentzso commented on #43
@gsfr we never noticed this issue before, but it may be possible that the retry logic on SDM has masked the problem. Is there any retry logic on FDM's API calls? Probably it is not a good long-term solution, but it could be a convenient work-around.

[2015-09-08 22:01] kofalt commented on #43
Our client logic is slightly sub-optimal ATM: if a request fails due to invalid token, we get a new token and retry the request. This results in the web app, for example, renewing a token 5 times and sending 5 requests each with a different (new, valid) token.

Ideally, when a token renewal is in-flight, all failed / new requests would hold for that, then all use the same token. Once that client-s

[2015-09-08 22:08] gsfr commented on #43
Sounds good. Let's draft a solution by the end of the week.

[2015-09-09 21:42] gsfr commented on #43
@josschne believes that hello.js is already handling token reveal correctly and only retrieving a single new token.

[2015-09-09 21:45] kofalt commented on #43
Cool; that leaves only this ticket to resolve then if I understand correctly

[2015-09-09 22:29] gsfr commented on #43
As I stated in #44, this may not a actually be an issue that needs resolving right now. The app *should* never be sending concurrent requests with non-cached tokens. @josschne is working on ensuring that ```/users/self``` requests always happen *before* further, concurrent requests. Let's see where that leaves us and then reprioritize as needed.

@kofalt If you have thoughts on a possible implemen

[2015-11-05 21:47] gsfr opened #58 "Validate UIDs in roles and permissions"
At least for the local site, we should only allow new roles and permissions for actual user IDs.

[2015-11-05 22:06] gsfr opened #59 "All responses, including all errors, should be in JSON format"
Single exception: ```GET /api``` will return HTML for human consumption.

For errors, emit a predictable error struct.

[2015-11-06 15:05] gsfr opened #60 "Dev infrastructure"
We are looking to create a simple, yet effective way to launch the scitran API for developers. Besides the API itself, the only other launch requirement is ```mongod```. A single entry point, such as ```./scitran.sh run``` and a single config file are desired. Ideally, no further dependencies are introduced. Implementation candidates are bash and python. Options for app launching and live reloadin

[2015-11-06 15:20] Eric89GXL commented on #60
Is this related to https://github.com/scitran/scitran/issues/2, or is it specific to the `api` repo?

[2015-11-06 16:36] kofalt commented on #60
This should probably moved to scitran/scitran.

[2015-11-07 00:44] gsfr commented on #60
This is specific to the API and should thus stay here. We may still rename this repo to ```core``` if that makes more sense.

The API is about to shed its scitran/data dependency, at which point it will be datatype-agnostic and no longer have dependencies on other scitran components.

The reaper is a separate tool and often runs on separate hardware. (Also working on [dropping](https://github.com/

[2015-11-13 19:26] rentzso opened #63 "add comments/documentation for all routes"
Acceptance Criteria:
Close when all routes from api.py are fully documented in api.raml

EDIT by Colton:  Compare api.raml  and routes in api.py to find api resources which have not yet been added to the raml spec

[2015-11-16 20:08] kofalt opened #64 "Eliminate or harmonize upload digest"
[SSL already provides integrity](https://en.wikipedia.org/wiki/Transport_Layer_Security#Data_integrity); all modern clients will most likely use HMAC-SHA256 at the transport level.

In order of desire:

1. Eliminate obsolete digest options (MD5)
2. If we're going to have an upload digest, harmonize with CAS storage
3. Make upload digest optional (may already be the case), or eliminate entirely

Ta

[2015-11-16 22:31] gsfr commented on #64
Thanks for the reference, @kofalt. @rentzso and I have started the removal process. The reaper is already clean, for instance.

Leaving open, pending further comments from @ryansanford.

[2015-11-16 22:34] kofalt commented on #64
Notably, the transport between the SSL terminator (nginx) and the endpoint (uwsgi) has to also provide integrity. Right now that's trivially the case since both are on the same box.

If for some reason we chose to do SSL termination on a separate box, and don't trust the deployment's intranet, this becomes an issue again - but a larger issue than upload corruption; in that scenario any interaction

[2015-11-18 23:15] rentzso commented on #59
Note:
a possible alternative could be to extend WSGIApplication and override this method:
https://webapp-improved.appspot.com/_modules/webapp2.html#WSGIApplication.__call__

[2015-11-18 23:20] rentzso commented on #59
another option could be to use https://webapp-improved.appspot.com/api/webapp2.html#webapp2.WSGIApplication.error_handlers

[2015-11-18 23:57] rentzso opened #66 "Reduce HTTP awareness in non handler layers"
As a general rule, classes should fall into two distinct categories:
- Classes that have functions named after HTTP verbs, and (basically) nothing else
- Classes that don't know anything about HTTP verbs or protocol details

Rather than self.abort, raise a variety of typed exceptions. This would be a better, drop-in replacement for what self.abort does anyway. At the very top, and/or whichever lay

[2015-11-23 23:40] gsfr commented on #66
Sounds like a good plan to me.

[2015-11-23 23:41] gsfr commented on #64
Closing for now...

[2015-11-23 23:41] #64 closed

[2015-11-23 23:45] kofalt commented on #64
Is this tackled by #67?

[2015-11-24 00:53] rentzso commented on #64
yes, we have changed the code that computes the hashes deciding to drop support for MD5

[2015-12-01 18:15] rentzso opened #75 "Improve batch download structure"
In a batch download, if the label is missing in a session or an acquisition, in the structure of the extracted tar, we are naming the corresponding folder with the default "untitled".
Instead, we should use the timestamp or the uid of the session/acquisition.

[2015-12-01 18:18] rentzso opened #76 "Check identical files in bootstrap"
At the moment, `bootstrap.py data` if run multiple times will generate duplicate data.
Avoid this by checking for identical files.

[2015-12-01 18:21] rentzso opened #77 "Include hash algorithm in hash"
eg `\<hash\>` should become `sha384:\<hash\>`

[2015-12-01 18:22] rentzso commented on #59
Some examples of errors generating HTTP responses are mongo errors and wrong route

[2015-12-01 18:24] rentzso opened #78 "Port BIDS download from aloha to master"

[2015-12-01 18:25] rentzso opened #79 "Port download improvements from branch deployed to aloha and master"

[2015-12-03 18:37] rentzso opened #80 "Investigate possible improvements on container logic"
Permissions, storages and validations management could be centralized in a manager class.
Investigate if this solution would improve code flexibility and maintainability.

[2015-12-03 18:41] rentzso opened #81 "Simplify FileListHandler"
This `get` method in FileListHandler has high cyclomatic complexity.
https://github.com/scitran/api/blob/master/api/handlers/listhandler.py#L290

A simple refactoring should improve readability and maintainability.
Final goal should be to write consistent unit tests.

Also, propagate functions under Permission and Tag ListHandlers should be moved to keep all DB access confined in dao files.

[2015-12-03 20:51] rentzso commented on #79
include all commits after https://github.com/scitran/api/commit/c38e41f265118fb3c09a51040d6e7bd6b8b7cc30

[2015-12-04 00:40] rentzso opened #82 "create schema subroutes"
Each API route should have a schema route that returns the corresponding json schema

[2015-12-04 03:12] gsfr commented on #82
Serving all schemas under `/schemas`, such as `/schemas/groups` seems preferable as `/groups/schema` could be mistaken for the details for a group called `schema`.

[2015-12-04 22:46] rentzso commented on #82
agreed.

[2015-12-07 17:27] ryansanford opened #83 "Uploading data doesn't result in jobs getting created in master branch"
Looks like this was caused by renaming some elements of the file document inside the acquisitions collection within mongodb.

dirty->unprocessed
filename->name
filehash->hash
filetype->type

One example of the mismatch
api.wsgi Line 136
            for c in application.db[c_type].find({'files.dirty': True}, ['files']):

[2015-12-07 17:28] ryansanford commented on #83
@gsfr
@rentzso

[2015-12-07 18:59] kofalt commented on #83
Renamed to make it clear that *any* uploaded file will currently fail to spawn a job.

[2015-12-07 22:02] #83 closed

[2015-12-07 22:54] dpuccetti-flywheel opened #88 "Error thrown when uploading .txt files"
Uploading a text file throws this error:

[code]
Image (.png) files work just fine.

[2015-12-07 22:59] kofalt opened #89 "Better sanitization of file I/O"
#86 closed the loop on security vulns, but untrusted input could still perform a variety of annoying tasks:
- 300,000 character whitespace-not-whitespace unicode filenames
- Behaviour of system when code points are passed that aren't valid for the filesystem?
- Different filesystems have different opinions (OSX ain't case sensitive, etc), what's our minimal subset?
- Let's assume there's an escape

[2015-12-08 17:32] kofalt commented on #88
My guess is that webapp2 or similar is trying to be too clever, and automatically hands us a string object rather than a file. I'm able to reproduce this uploading a bval file.

Assigning to @rentzso since he's probably closest to this one.

[2015-12-08 17:57] dpuccetti-flywheel opened #92 "Error when attempting sessions download"
Some of the recent changes appear to have effected file downloads.  This was previously working.  The issue occurs when attempting to retrieve the ticket for the download.

Endpoint: /api/download
Method: POST
Payload:
[code]

Response Code: 500
Response:
[code]

Log entry:
[code]

[2015-12-08 19:06] rentzso commented on #92
@dpuccetti-flywheel to facilitate debugging could you make sure you have a fresh install of the db?
Also, if you did some operations on a fresh db and then you've seen the issue, could you please send these operations?

[2015-12-08 20:00] gsfr opened #93 "remove 'unprocessed' flag and associated cron job"

[2015-12-08 23:16] dpuccetti-flywheel commented on #92
Starting the environment fresh resolved the issue.  There must have been an issue with the db as you mentioned.

[2015-12-08 23:16] #92 closed

[2015-12-09 17:31] josschne opened #96 "Script organization"
Determine new location/home for /run.sh and /bin/* files. /scripts could be a place to do this.

[2015-12-09 17:36] kofalt commented on #96
Interested in what @andynemzek thinks?

[2015-12-09 18:25] andynemzek commented on #96
We talked.  This has more to do with where we want to store scripts.  I don't have many opinions about where to put run.sh other than it's convenient to have it at root.

[2015-12-09 19:55] ryansanford opened #98 "Change convention of API parameters to override config.toml with passed parameters."
Currently the config .toml file is used as the source of truth. Reverse the convention to be more intuitive.

This impacts api.wsgi today, and bootstrap.py soon.

[2015-12-09 20:05] gsfr commented on #98
There is a plan in place to remove all command line parameters. The API will read it's entire configuration from environment variables. Those are either supplied via `run.sh` from a config file or via docker compose. Would that work for you, @ryansanford? Comments welcome.

[2015-12-09 20:37] josschne commented on #96
Last change that merged renamed the dir to bin/. Open to change it.

[2015-12-09 21:02] ryansanford commented on #98
Ok, closing.... Source of truth for the API will be environment variables. I can proceed with the docker input path without changing bootstrap.py. Eventually when your change lands, I'll need to make a small change to the docker input path to allign the var names with your change.

@andynemzek  or yourself will make sure the config.toml input path aligns with your change.

Closing this issue, sinc

[2015-12-09 21:02] #98 closed

[2015-12-09 21:20] andynemzek commented on #96
/bin makes sense to me.

[2015-12-09 21:52] gsfr commented on #96
Sounds like we are all in agreement on `/bin`. I'll make that change as part of my ongoing config/env var restructuring.

[2015-12-09 23:33] #88 closed

[2015-12-11 21:17] kofalt opened #100 "Bring back cron-like functionality"
At the moment, [job creation](https://github.com/scitran/api/blob/3d84ddf47a4c1a05bf2fd2bc7454ed8944904f94/bin/api.wsgi#L135-L189) only runs via uwsgi cron. Without uwsgi, these tasks will not run.

#93 will reduce but not eliminate our need for cron-like functionality. The current best proposal is to use [APScheduler](https://apscheduler.readthedocs.org/en/latest/), which has several advantages o

[2015-12-14 15:44] mrDarcyMurphy opened #103 "Odd response to unchanged data"
TL;DR: an update request is returning 404 when it maybe should be 304.

When changing the permissions of a user on a project things work fine the first time. If I send the same request to change the permissions a second time, ie. trying to change `{access:'rw'}` to `{access:'rw'}`, then the response is `404 Element not updated...`.

Request:
- url: `http://localhost:9000/api/projects/abc123/permis

[2015-12-14 15:59] kofalt commented on #103
Hmm. I would agree that 404 isn't appropriate in this case.

Philosophically, I would support making calls idempotent whenever possible - "ensure this state exists", contrasting with "make this state change and fail if it's already made."

Taking a [quick look](https://github.com/scitran/api/search?utf8=%E2%9C%93&q=Element+not+updated), my guess is that error code returns are appropriate for most

[2015-12-14 17:49] gsfr commented on #103
404 definitely seems odd. I agree with the desire to be idempotent. 304 would be fine, but not required.

@rentzso?

[2015-12-14 19:11] rentzso commented on #103
yeah 404 is weird. 200 seems more reasonable for that request.

There was a subtle reason for this though.
mongo updates will return {modified: 0} every time an update doesn't modify any element and, sometimes, this is an error.

For example if we are updating a permission for a user (let's say you are changing the id) and another user with the new id already exists, we are blocking the update bec

[2015-12-14 22:27] #96 closed

[2015-12-23 14:06] kofalt opened #109 "Add 'now' flag to job entries"
Proposed by @ryansanford as a preemptive production support feature.

Add a boolean `now` flag to job objects.
Toggling this flag will cause the job to run as soon as possible.

Change the job modification (post/put) route to only allow superusers to manipulate the field.

Change the `next` route to make two queries - first, check for any jobs with a `now` flag, second, the normal query that exist

[2015-12-23 16:16] kofalt opened #110 "Force flag not respected on file uploads"
Uploading redundant files are rejected with 409, even if the `force` flag is passed.
Expected behaviour is to overwrite the existing file and return 200.

To reproduce:

[code]

Example uses [jq](https://stedolan.github.io/jq), an excellent CLI tool for JSON manipulation.
Obviously, your instance will need at least one project for this to work.

[2015-12-30 20:16] ryansanford opened #111 "API throws error from uwsgi cron job when encountering stale "running" job."
## Branch = master

## Error
uwsgi_1          | [pid: 71|app: 0|req: 1/1] 192.168.99.1 () {34 vars in 399 bytes} [Wed Dec 30 19:37:47 2015] GET /api/jobs/next => generated 864 bytes in 35 msecs (HTTP/1.1 200) 3 headers in 112 bytes (2 switches on core 0)
uwsgi_1          | Traceback (most recent call last):
uwsgi_1          |   File "bin/api.wsgi", line 87, in job_creation_timer
uwsgi_1          |

[2016-01-03 16:47] kofalt commented on #111
If this was fixed in #113, close :)

[2016-01-04 15:31] ryansanford commented on #111
It was @kofalt . Closing...

[2016-01-04 15:31] #111 closed

[2016-01-04 16:14] ryansanford opened #115 "Filesystem error durring upload of file to session results in file record remaining in session collection."
@gsfr @rentzso Let me know if I can provide any additional detail.

## Branch = master

## How to reproduce
1. chmod -R -w "${SCITRAN_PERSISTENT_DATA_PATH}"
2. upload file
[code]

## Error
[code]

[2016-01-05 17:07] ryansanford opened #116 "Attaching a file to a "Project" causes rules.create_jobs exception when called with that file"
## Branch = master

## Impact
Was blocking @mrDarcyMurphy, but I disabled the uwsgi cron job as a workaround.

## Steps to reproduce:
Attach a file to any Project, then have rules.create_jobs called via uwsgi cron job or similar.

## Error
Tue Jan  5 17:04:52 2016 - error managing signal 0 on worker 1
Traceback (most recent call last):
  File "bin/api.wsgi", line 88, in job_creation_timer
    job_

[2016-01-06 00:00] gsfr commented on #100
@andynemzek is working on cron container in fly/fly.

[2016-01-06 05:00] gsfr commented on #115
@rentzso: Please take this on. I'd suggest that we generally prefer orphaned files over stale database entries. That is, for uploads, place file first, then update database, and for deletes, update database first, then delete file. Actually, with our new hash-based file storage, deletion will need to be handled by a cleanup job. For that, we just need an endpoint; cron functionality will be handle

[2016-01-06 06:48] rentzso commented on #115
I have created this pull request to fix this:
https://github.com/scitran/api/pull/118

The code was handling and cleaning only after IOErrors, but not OSErrors.
Deletes are already done only on the DB, and not on the file system and, as @gsfr was saying, we need the endpoint to do the cleanup.

[2016-01-06 07:06] rentzso commented on #110
I think the behavior in aloha was to return a 202 return code without overriding the existing file. Is this correct?

[2016-01-06 19:01] kofalt commented on #110
I'm not sure, though my understanding (via @gsfr) was that with the force flag set the server would overwrite the existing file and return 200. I'm pretty sure that was the previous behaviour.

[2016-01-06 19:02] #115 closed

[2016-01-06 20:06] gsfr opened #119 "Don't silently skip missing files on download"
We are currently silently skipping missing or unreadable files on download. As @kofalt points out, this is fundamentally opposed to our data management mission and must be corrected asap.

However, considerable edge cases exist. For example, how do we handle files being legitimately deleted, in parallel to a long-running download operation?

Also, we don't want to inform the user of a (potentially

[2016-01-06 20:17] kofalt commented on #119
:+1:

So, at the point of download, the browser is fully in control and the user interface, for all intents and purposes, has ceased to exist. I will be pretty adamant that at that stage in the game the only thing we should do is abort on any error.

Before that, are options are wider. Since we currently have this ticket acquisition round trip, I would support making an existence check part of the

[2016-01-06 20:25] rfdougherty commented on #119
Joining this late, so maybe I'm missing something. But in cases of very large downloads, I've seen systems that allow a user to select what they want to download and submit the task to build their download. Then, when the download package is ready, they are notified (e.g., via email) and provided a link to initiate the download. Would that be a viable strategy for downloads of a size that can not

[2016-01-06 20:31] kofalt commented on #119
It definitely could be, but I hope that it won't be necessary in the vast-majority case. I'd be interested to see what (if anything) is slow in an existence check, because that should be very fast.

One pattern I've seen often is where a user interface will show a spinner immediately, then if a process hasn't completed in some short interval it adds additional context - "preparing your download",

[2016-01-06 22:26] gsfr commented on #119
I'm actually pretty happy with our on-the-fly tarball generation. It's a nice user experience and also avoids duplication overhead and cleanup. Ultimately, we want to build a system that largely obviates the need for raw data downloads by providing online processing capabilities.

@rentzso did the timing analysis when he added the ability to filter download packages by filetype and other parameter

[2016-01-06 22:40] gsfr commented on #110
How about this?

Without *force*, the server returns a *409 Conflict*, if a file with the same name already exists.

With *force*, the server always accepts the file and returns *200 OK*. In case the new file is identical to the existing file, the server returns *202 Accepted* to indicate identity.

[2016-01-06 22:50] rfdougherty commented on #119
I agree that on-the-fly makes for a nice user experience. Apart from the disaster scenarios mentioned (which I agree aren't worth a lot of UI work, since they will necessitate manual intervention), what else could cause 'corrupt' downloads? Some data are deleted mid-stream? A computation is re-run, replacing some results files? Metadata is altered? Permissions are changed? If all these are expecte

[2016-01-07 19:50] kofalt commented on #119
@gsfr

I don't think the size (in bytes) of an average download changes my position - I'm only proposing an existence check, which is N stat calls. A few thousand should definitely take less than a second. To be clear I'm not proposing we verify their integrity or contents...

That's a good idea. Maybe for bulk downloads we use the ticket-round-trip information I proposed to populate that data. "Y

[2016-01-07 20:00] kofalt commented on #110
Refresh my memory: Is our equivalence check now *only* the hash used for our storage CAS, or does it still open tar/zips and do CRC things? Because it [looks like the later](https://github.com/scitran/api/blob/06eb98aecdaa8836f6de9e6d0cd6f4acc6953018/api/files.py#L117-L132).

If it's the later, then I assert we don't actually have a valid equivalence check, for the reasons we've discussed before,

[2016-01-07 20:30] #116 closed

[2016-01-08 22:28] #93 closed

[2016-01-08 22:28] #100 closed

[2016-01-12 18:24] rentzso opened #121 "create route to make a project public with all its sessions and acquisitions"

[2016-01-12 18:47] rentzso opened #122 "File system cleanup endpoint"
Also we need to create a collection with delete candidates with this schema:

[code]

[2016-01-12 19:27] ryansanford opened #123 "API hosted by uwsgi sometimes throws errors "No replica set members found yet""
# Branch
master

# Description
Error is not consistent. About half the time I start uwsgi. Believe it's related to https://jira.mongodb.org/browse/PYTHON-986, as adding connect=False to pymongo.MongoClient() in config.py I'm unable to reproduce.

I'll create a pull request for this change.

# Environment
Mongodb is in a standalone replicaset config

# Uwsgi config

[code]

Actual error
[code]

[2016-01-13 16:31] #123 closed

[2016-01-14 20:16] gsfr opened #126 "Update multipart/form uploads to accept multiple files and metadata"

[2016-01-14 20:17] gsfr opened #127 "Define and implement json schema for multipart/form metadata uploads"

[2016-01-14 21:20] gsfr commented on #78
Closed by #106.

[2016-01-14 21:20] #78 closed

[2016-01-15 19:58] rentzso commented on #16
closed with #106

[2016-01-15 19:58] #16 closed

[2016-01-19 20:34] gsfr commented on #60
So, this is mostly done, although it was done differently from what is described above. No targets have been created, but rather an environment variable-based config system has been put in place. `./bin/run.sh` is all you need.

Unfortunately, it works only on Mac, using Homebrew, which is good for many developers, but having Linux support, too, would be great. Closing this ticket now. Tentatively

[2016-01-19 20:34] #60 closed

[2016-01-20 00:50] rentzso commented on #103
The above issues can be avoided if we don't allow updates on index fields.
This is what I plan to do

[2016-01-20 01:06] rentzso commented on #126
reference https://github.com/gsfr/upload/pull/1/files

[2016-01-21 00:09] kofalt opened #129 "Mixed plural case in container_type"
Recently, my understanding is that the `container_type` of a file object in the API did not have an `s` prefix, at least in the case of an `acquisition`.

Thus, to generate a download URI (as I do in `jobs.py`) you add the s suffix:

`'/' + i['container_type'] + 's/' + i['container_id'] + '/files/' + i['filename']`

Surprisingly, this was not the case, as shown by these download URLs:

[code]

It

[2016-01-21 00:11] kofalt opened #130 "Generate URIs in a util module"
There have been several times where this jobs logic has had to change:

[code]

That functionality really has nothing to do with jobs, and it's irritating having this be broken by unrelated code changes.

There should be functionality in a separate module that, at minimum, knows how to generate urls for uploading and downloading a file. The jobs module can then call that.

[2016-01-21 00:46] rentzso commented on #129
the issue is related to the create_jobs calls:
[code]
in core is singular, in handlers/listhandler.py plural. @kofalt which do you prefer?

[2016-01-21 01:45] #129 closed

[2016-01-21 01:48] rentzso commented on #129
As it seems a little urgent, I have pushed a commit that should fix the issue.
Feel free to reopen it if any other problem arises.

[2016-01-21 17:20] kofalt commented on #129
Excellent, thanks! :+1:

[2016-01-26 21:18] #75 closed

[2016-01-26 21:36] #110 closed

[2016-01-27 19:18] mrDarcyMurphy opened #132 "It's possible to create a collection without a name."
**Request:**

[code]

[code]

**Response:**

[code]

[code]

[2016-01-28 17:06] kofalt opened #134 "Prevent mongo conflating data & syntax"
One of the most critical features of database usage is a clear separation of input data and query syntax. In the SQL world, this mandates the use of [parametrized queries](https://www.owasp.org/index.php/Query_Parameterization_Cheat_Sheet). NoSQL solutions have similar but different restrictions: in Rethink, the attack surface is [very limited](https://github.com/rethinkdb/rethinkdb/issues/3438) d

[2016-01-28 23:54] #126 closed

[2016-01-28 23:54] rentzso commented on #126
closed with #135

[2016-01-28 23:54] rentzso commented on #127
closed with #135

[2016-01-28 23:54] #127 closed

[2016-01-29 05:53] gsfr commented on #134
Excellent analysis! Thank you, @kofalt. Looking forward to a PR.

[2016-01-29 15:00] ryansanford commented on #134
What's the current use-case for needing keys containing '.' and '$' ? If this is 3rd party data that we are simply stewarding, and don't require querying or updating pieces, we should consider storing as a blob in the DB.

If we really need to persist it as a json document in mongo, and code on the app side of pymongo is required, I would prefer wrapping pymongo.

Curious if this son_manipulator c

[2016-01-29 15:27] kofalt commented on #134
Basically this part of the ticket:

The specific incident we ran into was storing dicom metadata that happened to include `.` characters in the keys. The container metadata field is, by design, completely unstructured and (should be) allowed to store largely-arbitrary key-value content.

I'm not sure. I really don't want to be mucking about with [SON stuff](http://api.mongodb.org/python/current/ap

[2016-01-29 15:47] ryansanford commented on #134
@kofalt
Can you post a sample of the offending dicom metadata json?

[2016-01-29 17:03] kofalt commented on #58
Can you elaborate? This is on the Bali milestone but not assigned to anyone

[2016-01-29 18:00] kofalt commented on #134
@ryansanford Excellent question!

[code]

This is a liberally-truncated example from our sample data set after classification.
The full set can be viewed [here](https://gist.github.com/kofalt/b91df670f9bbcd005448).

 @rentzso added a [workaround](https://github.com/scitran/api/blob/d0de3624ef660ec93002849a5d82f7c56733664d/api/util.py#L31-L43) to this issue that swaps `.`s for `_`s, so I cannot sta

[2016-01-29 18:54] ryansanford commented on #134
I learned from @kofalt that the above sample had already been sanitized.

@gsfr
I think changing the API in reaction to this pain-point (metadata gear) is a mistake. Once we persist transposed data in the database, we'll need to deal with the repercussions for a long time. If the direction changes in the future, updating database values in the field at sites can be a labor intensive endeavor.

For

[2016-01-29 18:58] kofalt commented on #134
Proposal: for the bali release, we keep what we have with the modification of adopting @aaltepet's two-directional translation for metadata. This would keep everything the same with the exception that our keys no longer collide and can be retrieved in their original (post-gear) form.

Keeping dicom metadata, and translations thereof, in a robust fashion, is a pretty large task, and I don't think w

[2016-01-29 19:08] gsfr commented on #134
Indexable, queryable content, that is.

[2016-01-29 19:43] ryansanford commented on #134
Spoke with @gsfr and @kofalt
Conclusion is we stick with status quo for bali.01

Bali.02 we consider
1. add schema validation to reject metadata with '.' for '$' in key names.
2. Change classifier gear to sanitize it's metadata
3. Change gear spec to require metadata not have '.' or '$' in key names of output.

Post bali.02
1. Change classifier gear to store metadata keys as dicom group,element, i

[2016-01-29 19:48] #77 closed

[2016-01-29 19:54] rentzso opened #137 "Remove mimetype and glob based filetype"

[2016-01-29 20:04] gsfr commented on #58
Correct.

@rentzso is investigating scope. Will move to post-bali as appropriate.

[2016-01-30 19:12] kofalt commented on #137
Could you elaborate?
Is this talking about the removal of glob-based type determining of incoming files?

I ask mainly because, at least currently, the [job match rules](https://github.com/scitran/api/blob/cb581d1ba8f484a7110cd9d62425c7b79c7c43bd/api/rules.py#L38-L57) still depend on the `file.type` being provided on incoming data. Meanwhile the niftis are still a file glob.

Does this affect that

[2016-01-30 20:27] gsfr commented on #137
@kofalt: Not to worry. This is just removing an interim hack, now that the reaper and gears are providing `file.type` for all incoming files. (@dpuccetti-flywheel, @mrDarcyMurphy, @elisapoquette: The UI should eventually do the same for all user uploads, but that may not be a bali requirement.) This will also remove all instances of the legacy `file.filetype` and `file.mimetype`.

@all: All team m

[2016-02-01 22:34] #103 closed

[2016-02-01 23:05] kofalt opened #141 "Engine endpoint doesn't spawn jobs"
Each entry for uploaded files needs to run the rule logic for spawning new jobs:
`rules.create_jobs(db, container, container_type, file_)`
The engine endpoint doesn't do this, meaning jobs won't trigger from uploaded results :(

I would have made this small change myself, but was halted by an impedance mismatch: the rules logic expects a file map-object with `name`, `type`, and ideally `measuremen

[2016-02-02 16:49] #137 closed

[2016-02-03 00:11] #132 closed

[2016-02-03 00:12] #141 closed

[2016-02-03 16:44] ryansanford opened #147 "API allows the deletion of "Unknown" group"
@rentzso
API should reject this request. The "unknown" group is integral and assumed to exist within the api, and needs protection. @gsfr recommended leaving the choice of the HTTP response code up to you.

This is required for bali milestone.

From chrome inspector:
[code]

[2016-02-03 17:32] kofalt commented on #147
Good catch.

[2016-02-03 18:17] kofalt opened #148 "TypeError: http header value must be a string"
I get this confusing error sometimes:

[code]

This will happen until I log out and log back in.
Confusingly, the stack trace doesn't have any scitran code in it.

Request details:

[code]

These folks may have run into a similar problem? https://github.com/falconry/falcon/issues/413

Notably:

[2016-02-03 18:39] #147 closed

[2016-02-03 22:01] rentzso commented on #58
removed from the Bali milestone

[2016-02-03 22:06] rentzso commented on #148
closed with https://github.com/scitran/api/commit/12efd685a6bccd83d6668a98b0582f4abacb868d

[2016-02-03 22:06] #148 closed

[2016-02-04 03:52] mrDarcyMurphy opened #151 "Session Attachments JSON doesn't include file type."
When fetching a project, the files array includes objects like this:

[code]

When fetching a session, the files array includes objects like this:

[code]

Probably not critical for Bali, but would be nice to have soon.

[2016-02-04 16:56] mrDarcyMurphy commented on #151
**Update:** I pulled the latest from the api this morning and projects are no longer including the file type either.

I'm able to compensate well enough on the front end, but it would be excellent if the file would return the mimetype in the object.

[2016-02-04 16:58] kofalt commented on #151
Agreed. A larger issue is that

1) I don't like `type: "gif"` isn't a mime type
2) I don't like psuedo-mime-types conflated with scientific data types ("dicom")

I'll file a separate ticket to resolve the conflation.

[2016-02-04 17:12] mrDarcyMurphy commented on #151
:+1:

[2016-02-04 19:50] kofalt opened #153 "Type conflating with MIME type"
Ref #151 about `type: "gif"` being returned on a container's file:

1. `gif` isn't a mime type (contrast `image/gif`)
1. This field is also used for scientific data types (`dicom`)

This is troublesome when trying to make UI-relevant decisions (deciding if a viewer icon should be visible, which viewer to launch, etc).

My proposal:

1. The `type` field is only used for scientific data - so, `dicom

[2016-02-05 03:51] gsfr commented on #153
In various data model-related discussions, the team had previously deemed the mime type on files as superfluous. The API finally [caught up](https://github.com/scitran/api/pull/140) this week.

Per our [current data model](https://github.com/scitran/api/wiki/Data-Model#file-subdocument-only), `type` is the human-interpretable file type, such as dicom, image, or document. The mime type is not part

[2016-02-05 03:53] gsfr commented on #151
Looks like we are at least consistent. @mrDarcyMurphy, please close this in favor of #153 unless you need an immediate bali-critical resolution.

[2016-02-05 16:35] mrDarcyMurphy commented on #153
The UI is already using a simple regex to grab the file extension to see if it's viewable or not, and how. If that's really the best way then I guess we'll stick with it.

I was hoping the API would be smarter about determining the mime-type other than sniffing the file extension. If not, then maybe the best middle-ground would be to have the API return the extension as an attribute. That'd save s

[2016-02-05 16:47] #151 closed

[2016-02-05 21:07] kofalt opened #154 "Multiple file download results in 500"
POST to `/api/download` with request body:

[code]
Results in:
[code]

[2016-02-05 21:23] rentzso commented on #154
@kofalt could you give more info on how the sessions were created?

It seems that the parent project is missing.

[2016-02-05 22:08] rentzso commented on #154
can you run these commands on a mongo shell?
[code]
Thanks!

[2016-02-05 22:46] kofalt commented on #154
What we've learned so far:

[code]

Some sessions are getting a `project` field of type string rather than ID.
I suspect there's an endpoint somewhere that doesn't wrap the API's project string.

[2016-02-08 17:02] mrDarcyMurphy commented on #153
One additional complication is nifti files. When they're generated they're served like so:

[code]

However, if I were to download that nifti and reupload it to a different spot, it's served like so:

[code]

Since the file extension is `gz` the UI has no way of knowing which type of file is actually in there. It could be assumed that `.nii.gz` is a nifti, and I plan on checking for that for now,

[2016-02-08 17:17] #154 closed

[2016-02-08 18:44] rentzso opened #156 "harmonize group schema with other container schemas"
this changes will be  applied
`group._id` becomes `group.uid`
add group._id as ObjectId
`group.roles` becomes `group.permissions`

**Note:** coordinate with ui team

[2016-02-08 21:52] kofalt commented on #156
I'm not sure I understand the first part of the summary.

Is `group._id` being duplicated to `group.uid`?
Will `group.uid` it be a different type than `group._id`?

[2016-02-08 22:23] rentzso commented on #156
`group.uid` will be the human-readable unique id of the group.
`group._id` will be an ObjectId as in projects, sessions and acquisitions.

This change will allow a lot of code removal, as there is no need of custom logic on the level to parse the `_id` as it will be an ObjectId for every level.

An example could be these two lines:
https://github.com/scitran/api/commit/122b0eb4f3584d9dbe68dcf4ae99

[2016-02-09 00:31] gsfr commented on #153
By design, the API does not and will not interpret the files that it is hosting. We are data type and format agnostic. Data sources, such as reapers, gears, and UI, must supply all relevant file metadata.

If it makes anyone's life easier, I'd be happy to add a `mimetype` field to each file, even to guess it using a [standard library](https://docs.python.org/2/library/mimetypes.html) if it's not s

[2016-02-09 15:56] mrDarcyMurphy commented on #153
It's reasonable for the API to be agnostic, but it doesn't have to be ignorant. Both the API and the UI need to know what type of files they're working with in order to present them properly to users.

Judging by the standard library's docs, the uploaded nifti example would end up being considered a gzip file. `mimetypes.encodings_map['.gz'] => 'gzip'`. It's not wrong, but for our use case it's no

[2016-02-09 16:50] kofalt commented on #153
Agreed on agnostic != ignorant, that's a good way to put it.

Even from a distance I'm not entirely comfortable with the amount of logic that's ending up in the frontend and would be happier if the API can shoulder it as much as possible. The server making a best-effort attempt to help here makes sense. The python extension-guess @gsfr linked would be sufficient, but AFAIK, the most correct option

[2016-02-09 17:53] gsfr commented on #153
Well, when we are looking at a gzipped or native NIFTI file, the critical part for our system's functionality is `type="nifti"` and `measurements=["functional"]`, for instance. Similarly for a zip of DICOMs. That's what the viewers and gears need to know. The mime type, `application/gzip`, `application/zip`, or `application/octet-stream` is both easy to determine automatically and also much less i

[2016-02-09 18:30] elisapoquette commented on #153
Let's take the UI stuff offline. I will make an Aha! ticket for these features and we can go through a design review.

[2016-02-09 18:32] elisapoquette commented on #153
Also, @mrDarcyMurphy proposal is very much inline with what I would recommend

[2016-02-09 19:11] kofalt commented on #153
Let's take the "type + measurement" modification stuff to another ticket then, as this ticket is only about resolving the conflation between `type` and mime. I think I heard agreement on my proposal above; let's go with that. Storing the result of any heuristics leave the door open for user modification after-the-fact.

[2016-02-09 19:35] mrDarcyMurphy commented on #153
@kofalt Does that mean the API would return something like this for a nifti file? If so, it'd work well and should eliminate guess work.

[code]

[2016-02-09 19:48] kofalt commented on #153
Yup!

[2016-02-09 19:55] gsfr commented on #153
And how would the API know that this file is of `type: "nifti"`? That's the whole point of this discussion.

[2016-02-09 20:00] kofalt commented on #153
Not so:

My proposal is to do only a subset of the current behaviour - specifically, to only store one of those three examples - in the `type` field. And to store a more mime-standard string than `gif` (ref #151) in a separate `mime` field.

[2016-02-10 23:59] gsfr commented on #89
We no longer store filenames in the filesystem.

Remaining todos are
- restricting filename length
- verify that filename does not contain a `/`.

[code]

We couldn't find any known escapes to `os.path.basename`, but the following should take care of that eventuality as well. But we will live on the edge and not do that.
[code]

[2016-02-11 00:06] gsfr commented on #79
Won't fix. We need to rework the whole batch download experience starting with the desired UI. Ping @elisapoquette.

[2016-02-11 00:06] #79 closed

[2016-02-11 00:09] gsfr commented on #66
Optional for bali-2, since no external impact.

[2016-02-11 00:38] gsfr commented on #76
This will go away when we bootstrap via the `/reaper` endpoint.

[2016-02-11 00:38] #76 closed

[2016-02-11 00:43] gsfr opened #158 "Extend /reaper endpoint to handle non-UID-based uploads"
The DICOM reaper provides session and acquisition UIDs, but the folder reaper will only provide non-globally-unique labels, which requires walking the container hierarchy top-down to create or use the necessary containers.

[2016-02-11 00:45] gsfr opened #159 "Upload unification & upgrades"
Edited by @kofalt - itemized list:
1. [x] Lay initial groundwork for upload unification. (@kofalt)
2. [x] EnginePlacer is written but needs to be rigged up and connected to the endpoint. (@nagem)
3. [x] LabelPlacer and (new) UidPlacer should replace most logic currently in upload.reaper and upload.uploader. (@rentzso)
4. [x] After that is complete, consider unifying the LabelPlacer & UidPlacer. (@

[2016-02-11 01:07] gsfr commented on #63
We will add docstrings to all http endpoints, following the [sphinxcontrib.httpdomain format](https://pythonhosted.org/sphinxcontrib-httpdomain/). From that, we will generate sphinx documentation, or possible swagger docs.

[2016-02-11 01:12] gsfr opened #160 "/engine endpoint should accept uploads to any container level"
We currently only accept uploads to acquisitions.

We desire the following functionality:
- Uploads to an acquisition, its parent session and parent project
- Uploads to a session and its parent project
- Uploads to a project (not sure this is actually a thing)

[2016-02-11 04:07] kofalt commented on #89
:+1:

[2016-02-11 15:03] kofalt commented on #63
A drive-by vote for swagger over sphinx since the example I was shown was so awesome: clean presentation, readable examples, support for firing an example query built in right in the web page.

[2016-02-11 18:33] rentzso commented on #58
as part of this issue we will also change the `DELETE api/user/userid` so that it will only disable the user instead of deleting it.

[2016-02-11 22:28] gsfr commented on #58
I would suggest that we error on `DELETE` and use `PUT` for setting a `disabled` flag on the user.

[2016-02-11 22:34] gsfr commented on #63
Actually, I'd love to go with swagger for the obvious awesomeness reasons, but we could not find an automated way to generate swagger from Python docstrings. For that reason, nothing got done so far. Yesterday we found the Sphinx thing, which finally looked like a path forward. Certainly open to suggestions.

[2016-02-11 23:44] rentzso commented on #130
postponed to when we have a client library

[2016-02-11 23:44] #130 closed

[2016-02-11 23:48] rentzso commented on #43
closed after discussion with @kofalt

[2016-02-11 23:48] #43 closed

[2016-02-17 15:22] kofalt commented on #159
Attached: some workshop notes from a discussion last week.
Might not make a ton of sense if you weren't there, sorry :)

[code]

[2016-02-17 15:28] kofalt commented on #160
Tentatively blocked by #159 (not a hard requirement, but might make life easier).

[2016-02-17 15:31] kofalt opened #163 "Record file origin"
[This proposed change](https://github.com/scitran/core/wiki/Data-Model,-v2/_compare/e66de283ad7fb1c297ec1391967282c3ef861b36...ff2d25bd8dec3f1022c74fb4e2bf778f65c86fc2) to the data model adds an `origin` field to each file, which identifies the type and ID of an uploading actor (a user or device).

This ticket tracks implementing that change.

[2016-02-17 15:33] kofalt commented on #163
Relates #159.

[2016-02-17 18:55] #153 closed

[2016-02-17 19:36] mrDarcyMurphy commented on #153
:+1:

[2016-02-23 19:01] rentzso opened #168 "Bridge to elasticsearch"
create a basic route to authenticate search requests and forward them to elasticsearch.

[2016-02-23 21:26] #158 closed

[2016-02-25 17:06] #168 closed

[2016-02-29 16:39] kofalt opened #172 "Server timeout should be a transient failure"
When the application is starting, failing to connect to mongo can result in a "no app loaded" uwsgi state that results in a permanent failure. This is bad news, because the application can never recover.

Ideally, we should have no permanent failures. If there is stateful initialization, maybe it can be placed in an idempotent function, and called on each request if it has not completed successful

[2016-02-29 17:31] kofalt opened #173 "Surprising 500 when creating acquisition"
`http --verify=no POST https://localhost:8443/api/acquisitions label=example 'User-Agent:SciTran Drone Script' X-SciTran-Auth:change-me`
[code]
[code]

This example tried to create an acquisition with the only [required schema field](https://github.com/scitran/core/blob/bbb45fe09164bde8d74c420ef97f11bf2bbba331/api/schemas/input/acquisition.json#L18): `label`. It looks like a crash caused by the in

[2016-02-29 17:32] kofalt commented on #173
Substituting `acquisitions` for `sessions` or `projects` also works.

[2016-02-29 17:45] kofalt opened #174 "Surprising 500 validating schema"
Create a group:
`http --verify=no POST https://localhost:8443/api/groups _id=derp name=grp 'User-Agent:SciTran Drone Script' X-SciTran-Auth:change-me`

Create a project:
`http --verify=no POST https://localhost:8443/api/projects label=derp group=derp 'User-Agent:SciTran Drone Script' X-SciTran-Auth:change-me`

[code]
[code]

This one is a bit weird. It looks like `str(e)` of a `jsonschema.Validati

[2016-02-29 17:59] gsfr commented on #173
`/acquisitions` should not exist at all, and `/sessions` should be restricted to `GET`.

I also ran into this issue, or rather a very related one, this weekend.

I'm expecting the following endpoints:
[code]
[code]
[code]
All should return the newly created or existing `_id`.

[2016-02-29 18:02] kofalt commented on #172
Interestingly, in this state hitting `/api/config` will return "Internal Server Error", which possibly resurrects #167. It looks like that might be a uwsgi error however.

[2016-02-29 19:19] #174 closed

[2016-02-29 19:42] kofalt commented on #173
I'm not sure I agree. If an acquisition has only one session (mandated by our model), why make it harder to access or modify? I don't get it.

I like this idea better... but disagree for the same reason. How about [PUT, GET] ?

[2016-02-29 19:58] rentzso opened #175 "Moving a project from group to group shouldn't change permissions"

[2016-02-29 20:20] ryansanford opened #176 "API should create a group that doesn't exist on data upload"
Reproduce:
Bootstrap data from the scitran/testdata repo without a "scitran" group defined results in a HTTP 400 response.

[code]

[2016-03-01 05:17] gsfr commented on #173
I'm sorry, I wasn't very clear here and also wrong. The 3 `POST`s mentioned above are actually all different. Here are the correct ones.

[code]

[code]

[code]

---

What I meant to say here is that there should be no way to retrieve all acquisitions that a user has access to (`GET /acquisitions`), which has the potential to be pretty much the entire database.

Given the corrected endpoints above

[2016-03-01 22:00] #175 closed

[2016-03-01 22:00] #176 closed

[2016-03-01 22:32] kofalt commented on #173
Ah, that all makes sense then. Carry on!

[2016-03-02 02:03] gsfr commented on #59
Looks like 401s still come back as html.

[code]

[2016-03-03 19:24] ryansanford opened #180 "deadlocks with pymongo possible"
Deadlock can happen because the global "db" variable is used to connect to the DB via the api.wsgi entrypoint before uwsgi forks the process.

I initially looked into this because of this message in the uwsgi log:
[code]

@rentzso and @gsfr
Besides avoiding the config.get_item() call in this case, can a unit test be created to expose similar regressions in the future? Maybe api.app_factory() could

[2016-03-03 19:52] kofalt commented on #180
Nice find. I suspect that #172 would be solved by solving this issue.

[2016-03-03 19:52] rentzso commented on #180
It looks like an issue related to the API "global" behavior, so integration testing should be the right way of testing it.
@ryansanford could you attach the full uwsgi logs? I don't understand if the Stack Trace is before or after the warning

@gsfr what are the reasons to persist the config?

[2016-03-03 20:24] ryansanford commented on #180
@rentzso

To capture the stack trace, I introduced an exception into config.get_item(). I tried to just print the stack trace, but as you can see from the uwsgi output, I forgot to import traceback, which in the end, got me what I wanted, the stack trace from the api.wsgi entrypoint.

config.api change to force exception:
[code]

uwsgi output:
[code]

[2016-03-03 23:00] kofalt commented on #59
I just noticed HTML on 401s as well:

[code]

[2016-03-03 23:06] rentzso commented on #59
It seems that exceptions in `base.RequestHandler.__init__` are catched in the parent class.

[2016-03-04 17:32] rentzso opened #182 "Align JSON schemas with the data model"

[2016-03-07 17:07] kofalt opened #183 "Discussion: Use enum for container names, use tuples for containers"
[Here's](https://github.com/scitran/core/commit/1786a571adc251e0106dbb6d4bada5904d0e0b91) some really bad logic written because `FileListHandler._initialize_request` takes a plural container name, while `upload.process_upload` takes a singular container name.

There is similar friction all over, caused by strings,  inconsistent (container-name, container-id, container-object-from-db) function para

[2016-03-07 17:12] mrDarcyMurphy opened #184 "Can't upload files with `-` in the filename."
Stack trace:

[code]

This doesn't happen for filenames that have spaces or underscores in them, only dashes. Looks like the dashes are being stripped from the filename (reference?).

`c-is-for-cookie-thats-good-enough-for-me.gif` becomes `cisforcookiethatsgoodenoughforme.gif` when it's looking up the file in the tmp directory.

[2016-03-07 17:16] kofalt commented on #184
Haha, amazing. I think the problem is a sanitized filename that doesn't take effect everywhere.

[2016-03-07 19:15] kofalt commented on #184
Solved in af55f6f

[2016-03-07 19:15] #184 closed

[2016-03-08 01:05] #180 closed

[2016-03-08 16:51] kofalt commented on #172
It's probable that #181 resolved this; let's check before closing.

[2016-03-09 20:35] nagem opened #187 "Add session and acquisition archiving"
Add functionality to allow Sessions and Acquisitions to be marked as "archived". Only return unarchived sessions and acquisitions for get_all requests unless an archived=true flag is passed in the request.

[2016-03-10 00:34] gsfr commented on #187
I would to see this implemented in the api from the project level down, even if the UI does not want to use it at the highest level.

[2016-03-10 20:00] ryansanford opened #188 "Very little context in log from auth issue."
User reported error logging in OAuth. There's not enough context in the WARN log entry to understand the details of the request.

Suggest adding the entire contents of the HTTP request header for HTTP 401 responses.

Example entry.
[code]

[2016-03-10 23:08] nagem opened #189 "Update JSON schema to match Data Model v2"
https://github.com/scitran/core/wiki/Data-Model,-v2

Changes:
- [x] Rename all `metadata` fields to `info`
  - [x] Rename `info` variable in `placer.py` and `upload.py` to file_attrs to avoid confusion between field and variable. `metadata` now only refers to data sent by client as part of upload process, `info` refers to the file object field representing a key-value store, `file_attrs` refers to

[2016-03-11 17:38] ryansanford opened #191 "file size in database is showing up as floating point."
Expecting int type.

Source of the data was bootstrap with latest master. @gsfr want to peek first to see if it's related to that?

Excerpt:
[code]

[2016-03-11 18:50] gsfr commented on #191
Resolved to be a non-issue.

[2016-03-11 18:50] #191 closed

[2016-03-11 19:33] kofalt opened #192 "On-demand avatar fetching"
Right now, we need internet connectivity and the gravitar service to add a user to the system. This was originally a way to get around some multi-avatar-provider design problems, but I've sat for enough seconds at `INFO bootstrapping users...` to get fed up with it :smile:

Adding a user should not require a 3rd-party service - or at least, not for this. It slows down setup & admin user creation,

[2016-03-11 19:58] gsfr commented on #192
Overkill. Just use a shorter bootstrap file when testing on your own.

[2016-03-11 21:36] kofalt commented on #183
Discussed this with @nagem and I might hold off a bit because she had some ideas as well. Let's revisit this in a few weeks.

[2016-03-12 00:25] #182 closed

[2016-03-12 00:26] rentzso commented on #182
superseded by https://github.com/scitran/core/issues/189

[2016-03-14 16:43] ryansanford opened #196 "Uploading file with `~` in name causing http 500 response"
@rentzso
Using scitran/reaper to upload data, `~` character in the filename is causing failing with a HTTP 500 response.

### Error
[code]

### Reproduce
[code]

[2016-03-14 17:16] #187 closed

[2016-03-14 18:18] kofalt commented on #66
Renzo and I discussed the stack-trace logging in `base.py` today - one conclusion is that we can log stack traces in fewer scenarios when this is done.

Right now, a perfectly-reasonable non-200 is a stack trace in the log, and we can't easily get rid of it because there are instances of `self.abort(5` in the code ATM. After this ticket is fixed we can be more taciturn :)

[2016-03-14 19:23] kofalt commented on #192
This ticket could have been stated differently, because I ended up tackling a few more important things:

* `RequestHandler.__init__` has historically been the most cyclomaticly-complex function we have; it's now much simpler and organized.
* Google- and Gravatar-specific logic are now encapsulated in their own functions, rather than intertwined with other stuff.
* The new route proposal was well-

[2016-03-14 19:45] #82 closed

[2016-03-14 22:30] nagem commented on #188
Hey @ryansanford, could you take a look at https://github.com/scitran/core/tree/improved-401-logging and see if that's what you're looking for? Also curious if you'd appreciate the headers logged for any of the other error handlers in base.

[2016-03-14 22:42] gsfr commented on #188
@nagem: While you are in this code, could you please also review the other instances of 401 return codes that we have in base.py? Arguably, only invalid tokens should return a 401; everything else should return something else. Is that a valid and sensible statement or are we ok with what we have?

[2016-03-14 22:53] nagem commented on #188
I would probably need to know more about drone auth to comment on the use of the 401s there. From what I can tell, `self.abort(401, 'drone secret not configured')` isn't an authentication problem caused by the user. Sending an improper secret (`self.abort(401, 'invalid drone secret')`) is questionably a client error.

[2016-03-15 15:50] ryansanford commented on #188
Not an expert in this area, though, I do recall 401 with correct challenge response is required for maximum interoperability with HTTP Basic Auth. Are we using HTTP basic auth with the drone secret stuff?

[2016-03-15 16:19] dpuccetti opened #197 "Unable To Download Acquisition Data"
Attempting to download acquisition data is currently returning a 500 error response:

{"status_code": 500, "message": "payload_from_schema_file() takes exactly 1 argument (2 given)"}

Request URL: https://dev.flywheel.io/api/download
Method: POST
Payload: {"optional":true,"nodes":[{"level":"acquisition","_id":"56b3586772ff76421fbca74b"}]}

To reproduce: navigate to dev.flywheel.io, select any sess

[2016-03-15 17:31] kofalt commented on #188
My 2 cents:

I would be comfortable with aborting 500 on misconfiguration.
That configuration key is not optional and should never be absent.

[2016-03-15 17:53] gsfr commented on #188
An unconfigured drone secret is not a problem, per se, but trying to use drone auth when it's unconfigured is a problem. 500 seems fair in that case.

[2016-03-15 18:13] #163 closed

[2016-03-15 18:54] kofalt commented on #197
I believe this to be fixed on master. Close or re-comment as desired :smile:

[2016-03-15 20:33] ryansanford commented on #188
@nagem

I tested the output, and it looks nice. I'm going to open a separate ticket to add a key to the logs so we can relate multiple log messages to the same request.

### Source
[code]

### Log
[code]

[2016-03-15 20:54] ryansanford opened #199 "Use key to identify log entries from the same request."
On a busy system, when an error occurs within scitran/core, it can difficult and time consuming to identify which log entries relate to the same request.

Suggest enhancement to create a key for each request, and include it in every log entry in a way that is easy to grep out, like `(request_key:abc123def456)`. Implementation should avoid request_key collisions between threads for a sane number of

[2016-03-15 20:57] nagem commented on #188
@gsfr Want me to make any additional changes as part of this ticket or am I good to open a PR as is and we'll clean them up in larger case @ryansanford opened? The case: https://github.com/scitran/core/issues/199

[2016-03-15 20:59] nagem commented on #199
I'm thinking a couple of random alphanumerics mixed with a date-time stamp would keep us unique enough.

[2016-03-16 04:38] gsfr commented on #188
@nagem Go for PR.

In fact, I like seeing PRs sooner, rather than later. Basically, as soon as there is a discussion. That way, we have an obvious diff we are all talking about. We usually let the PR initiator do the merge, so there is less risk of merging prematurely.

[2016-03-16 04:40] gsfr commented on #199
Wondering if webapp2 might already have something in store for us. Might be worth checking `self` and `self.request`.

[2016-03-16 18:20] mrDarcyMurphy opened #201 "Text and PDF files render garbled."
Images and nifti files that are presented in the modal appear to be fine (though we might be getting lucky there). Text and PDF files have begun rendering poorly in the last week or two. Not sure why. I can provide the example documents if you need them.

Screenshots:

![screen shot 2016-03-16 at 1 18 18 pm](https://cloud.githubusercontent.com/assets/21331/13823918/a94e1cfe-eb79-11e5-91e2-c70414e1

[2016-03-16 18:34] nagem commented on #121
Didn't mean to be nosy, but this would be another good example of a "propagated property".

[2016-03-16 18:43] rentzso commented on #121
That's right. Thanks for noting this.

[2016-03-16 18:58] kofalt opened #202 "Stack traces logged during benign non-200 returns"
Stack traces catch the eye when developing or reviewing logs, and right now we sometimes dump a stack in cases that are expected and benign:

[code]

This is partially blocked by #66 for the reasons mentioned in that thread, but we might be able to solve this sooner by changing our usage of `self.abort`. Filed as part of an ops conversation with @ryansanford. _Update_: @lmperry just ran into this

[2016-03-16 19:14] kofalt commented on #199
I've seen this used before to great effect: https://github.com/newobj/nginx-x-rid-header

Works out of the box; just log the header :)

[2016-03-16 21:21] gsfr commented on #199
I poked at webapp2 requests for a sec while looking into #200. Doesn't look like webapp2 offers a unique request id out of the box. Would be easy enough to generate one using the uuid module and store in on the request (`self`).

@kofalt's proposal looks simple, but locks us into nginx, which I'd prefer to avoid. Sure, it looks like the obvious choice today, but we thought the same thing about uws

[2016-03-16 21:22] nagem commented on #201
Taking a look now, the API is trying to grab the file's mimetype when the file has to mimetype. The issue is fixed in this commit (https://github.com/scitran/core/commit/71e6464638a319b5f40ae450bb81b5371ee90509), but I will still investigate why the mimetypes are missing/why this is now a problem when it did not used to be one.

[2016-03-16 21:27] gsfr commented on #201
Setting the mime type on ingest is a relatively recent update. Legacy data wouldn't have it.

@mrDarcyMurphy Have you tried re-bootstrapping?

We might also be failing to set mime type on some intake paths. Hence my desire to finish "upload unification".

@nagem Not sure empty string is the best default. Maybe `application/octet-stream` is better?

[2016-03-16 21:28] nagem commented on #201
@gsfr You are definitely right, updating.

[2016-03-16 21:35] nagem commented on #201
@gsfr After a couple minutes of investigation, Chome downloads `application/octet-stream` mimetypes while it makes an okay judgement on how to open a file when no mimetype is given. I can dig in further to the "why" if you want, too.

[2016-03-16 21:41] nagem commented on #201
After reading [this](http://stackoverflow.com/questions/1176022/unknown-file-type-mime) SO question and testing it, `application/unknown` seems to be the best option.

[2016-03-16 21:50] gsfr commented on #201
@nagem Agreed.

[2016-03-16 22:36] #188 closed

[2016-03-17 00:05] mrDarcyMurphy commented on #201
@gsfr I've rebuilt multiple times. Most recently was monday morning after updating docker.

[2016-03-17 01:34] gsfr commented on #201
Thanks, @mrDarcyMurphy. In that case, we should really figure out how data is getting into our system without a mime type on it.

@nagem Could you please take that on.

[2016-03-17 14:06] ryansanford commented on #189
@nagem
Does this encompass the DB schema update work? If not, is there a separate existing ticket to track that? Thanks.

[2016-03-17 14:40] nagem commented on #189
@ryansanford IMO it does, but we could split it out into a generic schema upgrade framework ticket if that would be better for visibility.

[2016-03-17 16:17] kofalt commented on #199
Just thinking out loud. We currently route directly from the engine to the API, but we could put everything through nginx if we wanted. Food for thought.

The industry pattern is to attach these tracers at the outer layer, so I'd be happier to see them added there, at our rev-proxy. If we were taking bets, my money would be on nginx being the last currently-existing component to be switched out, p

[2016-03-17 20:14] #59 closed

[2016-03-17 20:24] #201 closed

[2016-03-17 20:51] rentzso commented on #197
@dpuccetti could you check if this is still an issue?

[2016-03-17 23:16] #196 closed

[2016-03-18 02:05] gsfr commented on #199
@ryansanford Are you comfortable compiling nginx from source, which the suggested module requires?

[2016-03-18 13:36] ryansanford commented on #199
My suggestion is to define and document a header that all scitran/core logging will use as a key, and provide UUID generation on entry, or first log event if that header is not defined. That allows 3rd parties the flexibility to generate and use this request_key outside the scitran/core stack if they wish.

Another thing to consider now or down the road is forwarding this request_uuid header withi

[2016-03-18 13:45] ryansanford commented on #199
@rentzso @kofalt
Externally defined request_key could also be a plus with automated unit testing. If each test sends its own distinct request_key, on failure we could provide or highlight only the log entries for the tests that fail.

[2016-03-18 14:28] dpuccetti commented on #197
Looks good to me

[2016-03-18 14:28] #197 closed

[2016-03-18 15:36] kofalt commented on #192
Fixed in #198, with additional details over there!

[2016-03-18 15:36] #192 closed

[2016-03-18 15:43] kofalt opened #206 "Explicit schema versioning and upgrades"
Relates #189. Additional details are currently in team member's heads and on the [upgrade branch](https://github.com/scitran/core/tree/upgrades).

[2016-03-18 15:57] kofalt commented on #199
If I'm understanding you correctly, you're asking that we define a header that, if present, is logged by the API (and other components when/if applicable), and we can leave the methodology of generating that header in your court? That sounds entirely reasonable to me.

One slight modification is that I wouldn't want to allow clients (user clients at least) to provide their own identifiers, since t

[2016-03-18 17:58] dpuccetti opened #208 "Unable to Delete A Project"
When attempting to delete a project the UI is currently receiving a 404 response.

[2016-03-18 18:00] nagem commented on #208
@dpuccetti I just tested this as an API endpoint and it's working in master (until commit https://github.com/scitran/core/commit/a7fc5c2310c74c26054510b8a531cc435a2bb183 it was probably broken). I'll catch up with you soon on how to test this through the UI.

[2016-03-18 20:14] gsfr commented on #66
- [ ] create explicit request context map, stored on `self`
- [ ] never pass `self` (`RequestHandler`)
- [ ] never pass entire context map
- [ ] replace all `self.abort()` calls with `raise`
  - [ ] define `SciTranException` and inherit from it
  - [ ] create meaningful exception hierarchy using multiple inheritance using `SciTranException` and `webapp2.HTTPException`
  - [ ] catch all exceptions

[2016-03-18 20:14] kofalt opened #209 "Reduce highest cyclomatic complexity to 10"
As reported here: https://codeclimate.com/github/scitran/core/issues?category=complexity

[2016-03-18 23:32] lmperry opened #210 "File Input Schema - 'null' type for files"
Currently when uploading files at the acquisition level, files that do not have a type set are rejected and the `folder_reaper` is halted.

The current "fix", in place on the deployed instances, is for:
 `   "type":           { "type": "string" },`

to become:

`    "type":           { "type": ["string", "null"] },`

https://github.com/scitran/core/blob/master/api/schemas/input/file.json#L6

Other

[2016-03-22 15:07] #208 closed

[2016-03-22 21:23] #121 closed

[2016-03-23 16:02] kofalt opened #212 "Index churn on initial idle"
If you boot the API and make no requests, you'll see index-creation churn in the logs:

[code]

It's pretty clear that `config.initialize_db` should only ever be called once.

[2016-03-23 16:03] kofalt commented on #210
Tagging @rentzso and @gsfr for comment on this.

[2016-03-23 16:28] gsfr commented on #210
We may simply not always know the type. `null` seems fine. UI needs to handle appropriately, of course.

[2016-03-23 16:35] gsfr commented on #212
Hmm, curious. What's wrong with [this](https://github.com/scitran/core/blob/master/api/config.py#L172-L179) logic? Something wrong in 177-178?

@nagem @rentzso Any ideas?

[2016-03-23 17:49] rentzso commented on #212
@kofalt can you give us the full API log?
Was it a fresh start or the application was stopped and restarted?

[2016-03-23 18:04] rentzso commented on #212
Some useful information would be which config item was requested and also the traceback.
Some logs inside the `get_item` method should help.

[2016-03-23 19:28] kofalt commented on #212
Fresh start, but I don't have a 100% success rate. My initial theory was that it churns until a single request hits it, but I don't know about that anymore. My guess is we've got a race condition or that the worker threads/processes aren't aware of each other's state.

I am doing some clean resets to try & get you a full API log. Will report back if I get one.

[2016-03-23 20:08] kofalt commented on #212
Reproduced: https://gist.github.com/kofalt/7971dd1d644f9319945e

[2016-03-23 20:11] kofalt commented on #212
Reproduced: https://gist.github.com/kofalt/7971dd1d644f9319945e

It looks like I was slightly mistaken. The first few requests are triggering the repetition, presumably once per python worker, or similar. It would seem that we'll want to move this logic to wherever is before uwsgi forks off the workers, or maybe use some uwsgi features to ensure same.

[2016-03-23 20:31] gsfr commented on #212
Yup, that makes sense now. Not a race condition, but `__config_persisted` is a thread/process-local variable, so the db currently get's initialized once per uwsgi worker. We should probably use the db itself to determine whether is has been initialized, which will likely lead to a race condition, but that seems more acceptable than willfully initializing once per worker. Certainly a bug right now,

[2016-03-23 20:38] rentzso commented on #212
This could be a good place to start:
http://uwsgi-docs.readthedocs.org/en/latest/Caching.html
or this
http://uwsgi-docs.readthedocs.org/en/latest/WebCaching.html

[2016-03-24 18:18] nagem opened #214 "Create restrictions on Subject fields"
From a discussion in https://github.com/flywheel-io/frontend/issues/187

[2016-03-25 15:42] #206 closed

[2016-03-25 16:59] kofalt opened #215 "FolderPlacer"
There's a [more-uploads branch](https://github.com/scitran/core/compare/more-uploads) with a dry-coded FolderPlacer prototype from pair programming with @rentzso. Sounds like some more changes will also be included, from an email with @gsfr and @nagem:

[2016-03-25 17:32] mrDarcyMurphy opened #216 "Can't update Session Subject?"
This is blocking https://github.com/flywheel-io/frontend/pull/232 but I'm not sure if it's the API or me. Updating a Session's Project worked fine with the same pattern.

Summary
[code]

Request Headers
[code]

Request Payload
[code]

Response Headers
[code]

Response Payload
[code]

Stack Trace
[code]

[2016-03-25 17:36] kofalt commented on #216
That's a weird error. @nagem I think set wants a single argument:
https://docs.python.org/2/library/sets.html#sets.Set

My guess would be that `set(['archived','public'])` will fix this.

[2016-03-25 19:09] #216 closed

[2016-03-28 16:37] ryansanford opened #219 "bin/database.py exception log is invalid"
Discovered during production environment testing. Unsure how exactly what inner exception caused this until this issue is resolved.

[code]

[2016-03-28 16:46] nagem commented on #219
Fixed in https://github.com/scitran/core/commit/ffc150aaf96010e9d9e0f7becbb8f90c20a5a3c8

[2016-03-28 16:53] nagem opened #220 "Updating Session 'timestamp' Throws Exception"
Originally filed by @dpuccetti

Method: PUT
Endpoint: /api/sessions/{{SessionID}}
Payload: {"label":"02/15/15 13:44 PM","timestamp":"2016-03-17T14:37:59.467000+00:00"}
Response: {"status_code": 500, "message": "global name 'dateutil' is not defined"}
Stack:
[code]
The dateutil parser does not seem to be imported in containerhandler.py.

[2016-03-28 17:49] #220 closed

[2016-03-28 19:13] dpuccetti opened #221 "Remove session label minimum length"
It should be possible to remove a session label, but the API currently requires a submitted label to be at least one character long.

[2016-03-28 22:08] nagem commented on #221
Closing after discussion with @dpuccetti and @elisapoquette

[2016-03-28 22:08] #221 closed

[2016-03-29 15:03] mrDarcyMurphy opened #222 "Can't save Subject with Age property."
This makes no sense to me. Saving `age` worked fine last week, and the schema hasn't changed that I can see. I'm on fly/fly master and scitran/core master. May be related to #214?

Summary
[code]

Request
[code]

[code]

Response
[code]

[code]

Stack Trace
[code]

[2016-03-29 15:37] #222 closed

[2016-03-29 15:38] nagem commented on #222
Doesn't seem to have ever been in the mongo validation schema ¯\\\_(ツ)\_/¯

[2016-03-29 16:52] #58 closed

[2016-03-29 18:56] mrDarcyMurphy commented on #222
:facepalm: So…

https://github.com/scitran/core/blob/master/api/schemas/input/subject.json
!=
https://github.com/scitran/core/blob/master/api/schemas/mongo/subject.json

Ok then. TIL. Thanks for fixing it.

[2016-03-29 19:23] kofalt opened #223 "Add links for history reasons in file.py upload voodoo"
@josschne @gsfr @nagem Ref this never-expected-to-be-responded-to PR that I filed on webapp:
https://github.com/moraes/webapp-improved/pull/12. If this jives with our current understanding of our override situation, we should probably throw a link in the comments on the upload voodoo in files.py.

This is a ticket, rather than a tiny commit / PR, because I want to check with the team if a) my PR d

[2016-03-29 19:30] nagem commented on #219
Let me know if there is anything else you need from me on this, otherwise feel free to close.

[2016-03-30 13:29] ryansanford commented on #219
Fix is working as expected. Thanks!

[2016-03-30 13:29] #219 closed

[2016-03-30 18:41] nagem opened #224 "Change of authtoken index expire time causes conflict when index is already created"
Caused by https://github.com/scitran/core/pull/218.

`OperationFailure: command SON([('createIndexes', u'authtokens'), ('indexes', [{'expireAfterSeconds': 604800, 'name': u'timestamp_1', 'key': SON([('timestamp', 1)])}])]) on namespace scitran.$cmd failed: exception: Index with name: timestamp_1 already exists with different options`

[2016-03-30 20:13] kofalt commented on #224
Haha, amazing.

![](https://cloud.githubusercontent.com/assets/265071/14155901/5f2d52dc-f689-11e5-91a9-7b8de78632ae.gif)

I've never been thrilled with document expiry being handled by the database; I'll file a new ticket to track future improvements beyond this bugfix.

[2016-03-30 20:14] nagem commented on #224
I'm currently implementing create_or_recreate_ttl_index, please let me know if you have any better ideas on how to handle this without completely changing how and where we do db initialization.

[2016-03-30 20:15] nagem commented on #224
Mongo does not allow you to update a ttl index, and they suggest dropping the index and recreating it if you need to change the ttl

[2016-03-30 20:19] kofalt opened #225 "Index usage improvements and upgrades"
Partially inspired by #224.
1. I've never been thrilled by the database controlling document expiry, as I feel that's an abstraction violation. This feels very similar in nature to complex business logic being thrown in SQL triggers or scheduled tasks, which generally resulted in a mess. I'd like that logic to live in the API.
2. At least at one point in time, I was told that re-creating an index

[2016-03-30 20:19] kofalt commented on #224
That sounds like a good approach for now - in the ticket I just created & referenced I have a quick link to how we can get a list of indexes for a collection / database.

Most storage products have some mechanism by which you can upsert an index - lacking an obvious native feature, we'll probably end up with a few functions of the sort you're proposing.

[2016-03-30 20:22] kofalt opened #226 "JSON schema improvements"
Two goals:

1. Use a single source of truth
1. Eliminate need for network loopback.

Filed per request from team discussion, although this sat in my notes for awhile.

[2016-03-30 20:24] kofalt opened #227 "Intent pattern for mongo query modification"
Right now, the permchecking and other operations are mainly via closure generators that can be wrapped inside each other. The team reacted positively to an alternative approach:

[code]

Each successive call returns a new copy of an object recording the intent (query and its options), the final function maps everything together and returns the result.

Filed per request from team discussion, altho

[2016-03-30 20:53] gsfr commented on #225
Looks like Mongo folks don't think too much of [upserting indexes](https://docs.mongodb.org/manual/reference/method/db.collection.ensureIndex/).

Anyway, doesn't seem like a big deal to me. We have bigger fish to fry first. The DB does an ok job at managing expiration for us. It's not like we change the interval all the time.

Also, if we figure out how to initialize only once (#212), we can simpl

[2016-03-30 20:54] gsfr commented on #224
Ref my [recent comment](https://github.com/scitran/core/issues/225#issuecomment-203632576) on #225. Can we just solve #212 and then drop and re-create all indexes at start up - once?

[2016-03-30 21:07] nagem commented on #224
A fix to #212 would solve this, but for now we'll merge #228 and remove that during the work for #212.

[2016-03-30 21:20] #224 closed

[2016-03-30 22:21] rentzso commented on #227
What priority does this ticket have?
It doesn't seem to enable any new functionalities.

[2016-03-31 01:03] gsfr commented on #227
@rentzso No priority. Just documenting a possible future enhancement.

[2016-03-31 15:43] mrDarcyMurphy opened #229 "Add Group Tags"
For https://github.com/flywheel-io/frontend/issues/127

We need the ability to save tags to a group. If a tag is deleted it needs to be removed from that group's children.

@rentzso and/or @nagem, anything else this needs?

[2016-03-31 16:10] nagem opened #231 "Create restrictions on file fields"
Use an enum in our input json schema to restrict values saved to type and modality fields

[2016-03-31 16:16] nagem commented on #231
Also incorporate https://github.com/scitran/core/issues/210

[2016-03-31 16:29] nagem commented on #229
I think we're good. @rentzso started work for the change on the [add-tags-to-groups](https://github.com/scitran/core/tree/add-tags-to-groups) branch if you wanted to take a look. I'll be finishing it up (mostly cascading removal of tags).

[2016-03-31 17:14] ryansanford commented on #225
@kofalt #2 isn't surprising in my experience with MS SQL Server, where updating an index is equivalent to a drop and create. It doesn't have a concept of a TTL index. Filtered indexes are close, however those are non-clustered, and only supports exact comparisons, no functions or ranges.

[2016-03-31 17:31] mrDarcyMurphy commented on #229
@nagem Ok. I assume that any change will need the whole tag array to be sent. Is that right?

[2016-03-31 17:45] kofalt commented on #225
In this case I was only referring to our behaviour, not the database's - we can avoid recreating indexes when they already exist with our desired characteristics

[2016-03-31 18:05] #214 closed

[2016-03-31 18:22] rentzso commented on #229
@mrDarcyMurphy tags on groups will be handled as any other list. So you have to send just the tag you need to create or delete.

[2016-03-31 20:57] nagem commented on #231
@gsfr I had written down file type, modality and "instrument" when I think perhaps I meant measurement? Please confirm the fields we want to restrict to a list of approved values when you get a chance.

[2016-03-31 21:45] mrDarcyMurphy opened #233 "Subject's sex can't be null."
API says it's expecting `'male'` or `'female'`. [Input schema](https://github.com/scitran/core/blob/master/api/schemas/input/subject.json#L9) says `null` is ok, [mongo schema](https://github.com/scitran/core/blob/master/api/schemas/mongo/subject.json#L9) doesn't.

[2016-03-31 22:16] #233 closed

[2016-04-01 19:48] mrDarcyMurphy commented on #229
@rentzso Cool. It's working well so far.

One thing I caught was that sending a duplicate tag returns a 404. Not sure if that's the right code or not. Regardless, I'll try and check for uniqueness before sending anyways.

[2016-04-01 21:02] nagem opened #235 "Prototype: Dynamically build json schema files using Jinja2"
This would potentially allow us to solve several problems with our current json schemas:

 - Combine input and mongo schemas
 - Combine redundant schemas like [uidupload](https://github.com/scitran/core/blob/more-uploads/api/schemas/input/uidupload.json) and [labelupload](https://github.com/scitran/core/blob/more-uploads/api/schemas/input/labelupload.json)
 - inject custom enums, like allowable ta

[2016-04-04 21:19] gsfr commented on #231
Yup. File type and modality are easy. Measurement is harder, because it depends on modality.

[2016-04-05 15:25] mrDarcyMurphy commented on #229
@nagem I've got a weird bug where some tags aren't deleted. I haven't found any difference between the delete requests that work and those that don't, but I can still reproduce the bug if you want to take a look.

[2016-04-05 15:26] nagem commented on #229
@mrDarcyMurphy

[2016-04-05 15:38] mrDarcyMurphy commented on #229
@nagem I'd love to, but don't really have any. I'll stop by your desk.

[2016-04-06 19:45] mrDarcyMurphy commented on #229
@nagem Got another one for you: When adding a tag to a session the API doesn't care if the tag exists on the group or not. That's intentional, as far as I know. I'm not sure if it _should_ be though.

[2016-04-06 20:27] nagem commented on #229
@mrDarcyMurphy Considering the group tags are being used as a "tag pool", I don't believe that should be allowed. I think @rentzso suggested adding that restriction to `consistencychecker.py`.

[2016-04-06 21:18] rentzso commented on #229
if we have dynamic json schemas, this could be better handled as an enum.
But I am not sure it's good to enforce this.
Maybe yes but there could be other clients that don't want to use the "tag pool" feature.
@gsfr what do you think about this?

[2016-04-06 22:06] gsfr commented on #229
I think it's fine the way it is. The application can treat the group tags as a tag pool for its decedents, but the api won't know or enforce that. For the api, they're just group tags.

We can still do recursive deletion, if desired, because recursive operations are a general feature that the api should offer.

In discussing with @rentzso, one interesting edge case we need to keep in mind is movin

[2016-04-07 20:33] nagem commented on #229
@mrDarcyMurphy Could you add any remaining changes to the API to this list?

[] Deleting a group tag deletes the tag down the heirarchy
[] Renaming a group tag renames tags down the heirarchy

[2016-04-08 18:02] mrDarcyMurphy commented on #229
@nagem I think that's it for now. I'll let you know if I think of anything else.

I have some info for that delete bug too. It only works if the tag is three characters or longer. If the tag is only 1 or 2 characters then it can be created but not deleted.

[2016-04-08 18:27] nagem commented on #229
And that bug makes sense if you look [here](https://github.com/scitran/core/blob/master/api/api.py#L64).

@rentzso any reason we can't move this to to 1-24? We should also change tag.json to reflect what kind of restrictions we decide on for length.

[2016-04-08 18:33] rentzso commented on #229
@nagem no reason. Please just make a test with a one letter tag, so that we don't fall in any weird edge case.
You can modify https://github.com/scitran/core/blob/master/test/integration_tests/test_tags.py for this purpose.

[2016-04-08 19:00] mrDarcyMurphy commented on #229
@nagem My spec says 32 characters. I don't care which it is, just want to be consistent.

https://github.com/flywheel-io/frontend/issues/127

[2016-04-08 19:04] nagem commented on #229
32 is fine, let's go with that. All tags must be 1-32 characters long and may not contain `/` characters.

[2016-04-11 00:39] nagem commented on #229
@mrDarcyMurphy All changes should be available in this branch, opening a PR now - let me know if anything isn't working as expected.

[2016-04-11 15:29] nagem commented on #215
Closed via #232.

[2016-04-11 15:29] #215 closed

[2016-04-12 16:33] kofalt opened #241 "Google overrides Gravatar by default on login"
Gunnar and I found this bug last week, but it's been sitting in my queue for awhile and I want to work on other priorities, so documenting it here.

**How to reproduce:**

1. Have a gravatar
1. Configure scitran to use google for authentication
1. Log into the system before anyone has called your `/users/you@example.com/avatar` endpoint
1. Observe that you have a google avatar, rather than your gr

[2016-04-12 18:13] #229 closed

[2016-04-12 18:48] dpuccetti opened #242 "Collections acq endpoint is missing the join-origin"
When calling /collections/cid/acquisitions?session=sid&join=origin the join-origin field is not included in the response.  This prevents the UI from being able to display the origin icons.

The join-origin field is added to the response from /sessions/sid/acquisitions?join=origin as expected.

[2016-04-12 18:52] kofalt commented on #242
Join logic is in `ContainerHandler.handle_origin`, probably just needs to get called for collections as well.

[2016-04-12 18:56] nagem opened #243 "General API Usability Improvements"
After a discussion with @dpuccetti @mrDarcyMurphy @kofalt, this is a list of API improvements that would make frontend dev easier. This ticket could be turned into an epic when prioritized:

 - [ ] Send empty array for subdocument field instead of missing array (rolled into #189)
 - [ ] Documentation (ref #63)
 - [x] Ability to return all permissions for requests that return lists when user is ope

[2016-04-13 00:24] gsfr commented on #243
Empty subdocuments and subarrays are guaranteed per our data model. I'm surprised to hear that this is not upheld in practice. Should be easy and fast to fix. @nagem Can we make it part of the v2 migration?

*[ignores the d-word]* 😉

Does the permissions item refer to *list* queries? Should already be true for *detail* queries. Could be solved by a simple query param that prevents permission strip

[2016-04-13 00:32] rentzso commented on #243
for list queries adding a query param switch should be a one line addition in containerhandler and collectionshandler.
For detail queries, the full list of permissions is already returned for superuser requests.

[2016-04-13 00:39] nagem commented on #243
@rentzso, I edited the list above to specify that permissions were requested for `get_all`s, thanks for clarifying.

[2016-04-13 00:42] nagem commented on #243
Sure can.

[2016-04-13 15:28] nagem commented on #243
I updated https://github.com/scitran/core/issues/189 to have a clear list of what changes it includes. Let me know if we want to remove the final two checkboxes I added from this list.

[2016-04-13 16:08] mrDarcyMurphy opened #245 "As a site admin, not managing the site, requesting another user's groups and projects 403s."
This may have been the case for some time but wasn't an issue until work began on https://github.com/flywheel-io/frontend/issues/238.

To duplicate this in the UI checkout [frontend/238-group-admin-site-mgmt-updates](https://github.com/flywheel-io/frontend/tree/238-group-admin-site-mgmt-updates) and core/master. Log in as a site admin, click the newly visible 'Site' link on the sidebar, then check

[2016-04-13 17:16] #242 closed

[2016-04-13 18:00] gsfr commented on #245
Hmm. Looking at flywheel-io/frontend#238, I don't understand the use case for why one user needs to know another user's groups and projects. I don't think that info should be given out to non-site admins. Please explain.

[2016-04-13 19:13] elisapoquette commented on #245
The original ticket was to allow group admins who were not site admins access group management functionality. Right now, all group admins must also be site admins in order to manage group permissions. @gsfr can you work with @mrDarcyMurphy to figure this out?

[2016-04-13 19:22] mrDarcyMurphy commented on #245
@gsfr There isn't a "need," that's simply how the page works. Before this week no one could get to that page unless they were both a site admin _and_ in management mode. As I said…

What I'm trying to ask is:

1. Is this the right behavior for the API?
2. If so, how should the UI handle this situation?
3. If not, then please expose the necessary data via the API.

Keeping the restriction on the AP

[2016-04-13 22:15] gsfr commented on #243
I would support closing this ticket when 1 and 3 are done. Documentation is already tracked as noted above. And we may or may not open a ticket for pagination, pending a discussion with the UI team.

[2016-04-13 22:19] nagem commented on #243
Since 1 and 3 are being rolled into #189, I'm also fine just closing it now. 2/4 ain't bad @dpuccetti @mrDarcyMurphy ¯\\\_(ツ)\_/¯.

[2016-04-14 14:15] mrDarcyMurphy commented on #243
1. An empty array for a subdocument field won't make a large difference, we'll have to do a different (or maybe an additional) null check. Feeling ambivalent about this one.
2. It's tedious, but we'd all benefit from good documentation. The exercise of writing the docs and testing  the API may elucidate further ways it can be improved. Eventually a customer will be curious about it too. Luck favor

[2016-04-14 16:25] mrDarcyMurphy commented on #243
@nagem Here's one: better error messages. While building a feature I ended up trying to add a user to a group that was already in the group. The response was:

[code]

404 seems like the wrong error code for that, and it would've been more helpful if it told me why the request was rejected not merely that it was (ie. "User is already in that group").

[2016-04-14 16:54] nagem commented on #243
@mrDarcyMurphy I'm going to quote your comment in #66 where we are tracking some major error-handling work and then close this ticket.

[2016-04-14 16:56] nagem commented on #66
As reworking of our error handling is done, we should keep this request from #243 in mind:

[2016-04-14 16:56] #243 closed

[2016-04-14 22:35] elisapoquette opened #247 "Add a disabled flag to users"
Need to be able to disable users in the system. When finished, notify Elisa and she will create frontend ticket.

[2016-04-15 13:54] ryansanford opened #248 "Infrastructure for building pydocs"
As a scitran/core developer, I want auto generation of the API documentation in place. This enables the successful completion of Enhancement #63

Acceptance criteria:
- Process must work for API endpoints.
- Provide pydoc examples to demonstrate expected usage.
- Doc generation must be automated.
- Must be an entrypoint for document generation locally so pydoc changes can be checked before commit.

[2016-04-15 20:40] mrDarcyMurphy commented on #245
I think I've found a way to work around this for now.

[2016-04-15 20:40] #245 closed

[2016-04-15 21:01] mrDarcyMurphy opened #249 "Can't fetch group details when user has only read or read/write access."
This is to support dashboard filtering on https://github.com/flywheel-io/frontend/issues/127.

At this point the `/api/groups/foo` request fails with or without the `?root=true` query parameter. So a user could be a member of a group and be unable to use that group's tags for filtering.

Would it be possible to return the tags on the groups when GET'ing `/api/groups`? I'm open to suggestions thoug

[2016-04-18 14:00] elisapoquette commented on #249
@nagem can you check this out? We have a feature on the frontend that depends on this and I would like to get it wrapped up as soon as possible. Thank you!

[2016-04-18 15:08] mrDarcyMurphy opened #250 "Group admin's can't delete their group."
A Group Admin that isn't a Site Admin can't delete groups they're an admin of. Only Site Admins can delete groups.

Is this intentional?

[2016-04-18 15:30] elisapoquette commented on #250
I believe so - only Site Admins can create and delete groups according to the permission matrix. This should be consistent with Project, where only Group Admins can create and delete (empty) projects.

[2016-04-18 15:38] nagem commented on #249
The only fields on groups are `name`, `roles`, `tags` and `id/created/modified`. I think if we strip out `roles` unless you are requesting as `?root=true`, we can return the entire group to anyone with read access. I'll make that change now.

[2016-04-18 16:03] mrDarcyMurphy commented on #249
@nagem Ok, thank you. That'll help a lot.

[2016-04-18 16:28] nagem commented on #249
@mrDarcyMurphy take a look at #251 and branch `group-tag-perms`

[2016-04-18 16:37] gsfr commented on #249
Any reason to deviate from our typical pattern here? You get your own role, if you are a member, but not an admin; you get all roles, if you are an admin or root=true.

[2016-04-18 16:38] nagem commented on #249
@gsfr my comment above isn't very clear. `/api/groups` and `/api/groups/foo`now both return the entire group object with `roles` filtered to just your permissions. When `?root=true` is added, `/api/groups` returns all groups and all permissions, `/api/groups/foo` returns all permissions.

[2016-04-18 17:10] mrDarcyMurphy commented on #250
Ok, thanks.

[2016-04-18 17:10] #250 closed

[2016-04-18 20:37] nagem commented on #249
Final decision on when perms return and when they do not - they will behave exactly like container permissions: users will receive full permissions lists for groups where they are an admin, for singular and list GETs. All groups with all permissions will be returned when using `?root=true`.

[2016-04-18 21:20] #249 closed

[2016-04-18 21:41] gsfr opened #252 "Add endpoint to permanently delete a user"
Add `DELETE /users/<uid>` endpoint for internal maintenance. Require `root=true`. Eventually, this endpoint may be exposed to site-admins in the UI.

Before actually deleting the user, this endpoint needs to do the following:
- remove user from all group roles
- remove user form all project permissions
- remove user from all collection permissions
- delete all collections where user is curator

Re

[2016-04-18 22:26] nagem commented on #247
Referencing #252, which of these requirements for permanently deleting a user would we want to apply for disabling a user?

If we do not intend to create a way for site admins to delete users, I believe we should remove user's permissions/roles for sure, not sure about collections as those are intended to be shared.

[2016-04-18 22:31] gsfr commented on #247
I was thinking, none. Disabling a user should be fully revertible. Say, if they haven't paid their bill.

[2016-04-18 22:40] nagem commented on #247
We could leave cleaning up permissions to group and project admins, for example a user that has left the organization.

[2016-04-18 23:20] gsfr opened #253 "Add unique subject id"
When creating a new session in the DB, add an `_id` field of type `ObjectId` to the `subject` subdocument.

If another session with the same `subject.code` already exists in the new session's project, copy the `subject._id` from the existing session, else generate a new one.

Also, allow `subject._id` to be set explicitly on new and existing sessions via `/sessions`.

[2016-04-19 14:17] elisapoquette commented on #247
They may or may not want to clean up permissions for a disabled user (depending if a user comes back). To me, disabled users are just blocked from logging in. Deleted users are removed from groups, projects, collection and no longer have an account.

[2016-04-19 15:43] nagem opened #255 "Replace mongo generated ids where more secure uuids are necessary"
Review code and replace any usage of mongo generated ids that should be uuids generated in code instead.

Mentioned in 4/15/16 planning meeting.

[2016-04-19 19:59] kofalt commented on #255
Note that this will mean a database version bump + transform, if any keys were ObjectIds but will no longer be

[2016-04-19 22:59] #247 closed

[2016-04-19 23:00] nagem commented on #247
@elisapoquette this is now merged, feel free to create a frontend ticket.

[2016-04-20 21:51] nagem opened #258 "Generate json report for Site and Project stats"
Project Report (Project Admin, Group Admin)
- [x] Configure by Project (Select one or multiple, only the ones you have permission to).
- [x] Configure by Date Range
- [x] Project Name
- [x] Group Name
- [x] Project Admin
- [x] Number of Sessions
- [x] Unique Subjects
- [x] Male Subjects
- [x] Female Subjects
- [x] Subjects under 18
- [x] Subjects over 18

Site Report (Site Manager only)
- [x] numb

[2016-04-21 20:38] kofalt commented on #159
It's my understanding that the `UIDPlacer` and `LabelPlacer` are complete, ticking that box. The code basically is unified right now via subclassing, so ticking that box. We punted on closure generation, and naming turned out to be fine, so ticking those boxes. Editing final placer box to be unassigned. Moving ticket back to @gsfr for prioritization of the last item :)

[2016-04-21 20:52] #241 closed

[2016-04-22 19:21] mrDarcyMurphy opened #260 "Group Admins can't add, edit, or remove Tags on Groups."
This only applies to users who are group admins but aren't site admins. I _think_ users with read/write access need this functionality as well but I'm not 100% sure.

Here's a stack trace when trying to add a tag.

[code]

[2016-04-22 19:21] kofalt opened #261 "Version collection missing from running instance"
On a running dev instance, I would expect a `{'_id': 'version', 'database': 2}` document to exist in the `version` table, but no `version` table exists:

![screenshot-area-2016-04-22-141624](https://cloud.githubusercontent.com/assets/265071/14752437/de9aed82-0894-11e6-89a4-ad7861e2c1d8.png)

[2016-04-22 19:45] nagem commented on #252
Ran into a snag with cleaning up collections - we do not store the creator as `curator`, as you can see [here](https://github.com/scitran/core/blob/59e35687bd433872889e42dae8c23938450ff2a8/api/handlers/collectionshandler.py#L34-L38)

[2016-04-22 20:08] nagem opened #263 "Store collection creator as 'curator' during POSTs"
We are currently adding the user as admin in a collection's permissions list instead of saving their `uid` as `curator`.

See here: https://github.com/scitran/core/blob/59e35687bd433872889e42dae8c23938450ff2a8/api/handlers/collectionshandler.py#L34-L38

If there is only one admin in the permissions list we can probably assume they are the curator and fix this in a db update script.

[2016-04-22 20:12] nagem commented on #252
Created a ticket for missing curator field https://github.com/scitran/core/issues/263.

We could land #263 before this issue to ensure we cleanup collections properly when this lands, or use the logic defined in #263 to clean up collections on user delete until #263's update script fixes it for all collections.

[2016-04-22 20:47] nagem commented on #260
@elisapoquette what do you think about giving users with write access to a group the ability to create/update/delete group tags?

[2016-04-22 20:48] nagem commented on #260
The other bug was we had a mongo projection for `permissions` but not `roles` (the name for the field in groups), so the user was never found in the `roles` list.

[2016-04-22 20:51] elisapoquette commented on #189
@nagem can you notify me/Dan when this is complete so we can switch how information icons are viewed on UI?

[2016-04-22 20:56] nagem commented on #189
There is a PR open and finished that needs to be rebased but this change is breaking so work can begin on https://github.com/flywheel-io/frontend/issues/230 targeting [this branch](https://github.com/scitran/core/tree/data-model-v2).

[2016-04-22 22:07] #260 closed

[2016-04-22 22:07] nagem commented on #260
Talking with Elisa, users with write access and above should be able to PUT/POST/DELETE tags.

[2016-04-22 22:23] gsfr commented on #263
We should set the curator in addition to setting the admin permission, not instead.

[2016-04-25 19:42] #263 closed

[2016-04-26 00:21] nagem commented on #253
`hierarchy.py`, `placer.py`, and `containerhandler.py/containerstorage.py` all create session objects in mongo and will need this new logic. Will do code search to try to find any other instances.

[2016-04-26 00:24] nagem commented on #253
An imperfect search of the keyword `insert` looks like above are the only locations a session is created.

[2016-04-26 00:31] nagem commented on #253
@gsfr We don't require a subject in creation of a session, and subject `codes` and `projects` can be changed. There will be subjects without `_ids` and subjects with the same `_id` but different `codes` and/or `projects`. I am wary of trying to make this a perfect system by adding functionality to `PUTs` to try to keep everything in line.

[2016-04-26 05:29] gsfr commented on #253
Thanks, Megan. I think that's all fine. The idea behind the `subject._id` is to be unique across sessions, even if the `subject.code` isn't, and also to span projects, if manually updated. If no `subject` is given when creating a new `session`, just generate a fresh `subject._id`. Only copy an existing `subject._id` if the same `subject.code` already exists in the new session's project

[2016-04-27 18:11] kofalt commented on #202
Just a side note that the above stack trace is printed on (to my knowledge) every production deployment into the api log, every 5 seconds. I'd really love to get rid of this...

[2016-04-27 21:37] nagem opened #267 "Allow a way to replace rather than patch objects via API"
Specifically needed to address the issue of deleting fields inside unstructured json fields like `info`, the API needs to allow replacing the data at a resource endpoint. Currently, PUT only allows patch functionality.

[2016-04-28 15:33] #252 closed

[2016-04-28 15:34] #253 closed

[2016-04-28 21:39] kofalt opened #268 "Move jobs.py const MAX_ATTEMPTS to config struct"
Not sure if this would involve a schema change?

[2016-04-29 05:06] lmperry commented on #202
+1 on that. It drives me just a little crazy.

[2016-04-29 14:47] kofalt commented on #109
Unassigning this since I don't anticipate getting to it anytime soon.

[2016-04-29 19:27] kofalt opened #269 "Audit all optional parameter default values for mutability"
Today I learned about this: https://stackoverflow.com/questions/1132941/least-astonishment-in-python-the-mutable-default-argument

Aggravating, but not without humour :smile:

![screenshot-area-2016-04-29-141313](https://cloud.githubusercontent.com/assets/265071/14926950/9d8967a8-0e14-11e6-9a40-360ddc3f4a0d.png)

This has already caused at least one bug - `tags=[]` in `jobs.queue_job` - and I know

[2016-04-29 20:04] #248 closed

[2016-04-30 01:11] gsfr commented on #269
Thanks for the link, @kofalt. Remind me again, why is this crazy language so popular? ;-)

Anyway, as the docs point out, `None` is the only safe default value. We may need sister tickets for this issue in other repos. I'll take on reaper in scitran/reaper#21.

[2016-05-02 16:00] kofalt commented on #269
In discussion with @aaltepet, we seemed to think that primitives were also safe.
Do you think that's accurate?

[2016-05-02 19:10] gsfr commented on #269
Good point. It should be true for anything that's not implemented as a pointer. Not sure what that entails, beyond [numeric types](https://docs.python.org/2/library/stdtypes.html#numeric-types-int-float-long-complex).

[2016-05-03 15:55] nagem opened #272 "Allow "Other" option for subject sex"
To support DICOM standard options.

[2016-05-03 17:14] kofalt opened #273 "Remove jobs.add_raw"
Awhile after #270 lands & confirmed working, we should remove `jobs.add_raw` for obvious reasons :)

[2016-05-03 18:51] #267 closed

[2016-05-03 18:57] #272 closed

[2016-05-04 19:35] nagem opened #277 "Create DB upgrade script to clean up any malformatted collection modified dates"
There was a fix made to ensure modified timestamps are ISO formatted in this commit: https://github.com/scitran/core/commit/6967f236b380d2ab88cf18d307d943f6ae3d284c

@ryansanford ran into an issue loading existing data into Elastic that has this incorrect data from before the fix. A db upgrade script should be added to convert any remaining improperly formatted modified timestamps on collections t

[2016-05-04 21:41] nagem opened #278 "Permissions not propagated down hierarchy when session's project is updated"
The title is a specific example of the bug, but anytime a container's parent container id is changed, permissions from that parent need to be propagated down the hierarchy.

[2016-05-04 22:03] nagem opened #279 "Create DB upgrade script to clean up unpropagated permissions"
Follows #278, this will cleanup any bad data created by linked bug.

[2016-05-04 22:33] #278 closed

[2016-05-05 20:02] #279 closed

[2016-05-05 20:40] #277 closed

[2016-05-05 20:44] #258 closed

[2016-05-06 14:23] kofalt commented on #273
The eagle has landed; @lmperry let me know when your usage of `add_raw` is ported to `raw`. No rush, but I'd like to remove that endpoint sooner or later. Maybe it'll mysteriously disappear at the end of May? ¯\\_(ツ)_/¯

[2016-05-06 16:15] lmperry commented on #273
Feel free to remove it.

[2016-05-06 17:01] nagem opened #283 "Fix zipfile import error, cleanup FileListHandler responses"
Using any of the optional params on `FileListHandler.get` result in a 500 as the `zipfile` lib is not being imported.

While looking into this error I noticed our responses for `GET` on a file with the params `info=true` or `comment=true` are not JSON. That should be cleaned up.

[2016-05-06 18:02] gsfr commented on #283
Thanks, Megan. Just talked to @rentzso. Here is our proposal:

[code]

We're not currently using the [member comment](https://docs.python.org/2/library/zipfile.html#zipfile.ZipInfo.comment), but I suggest we include it for completeness.

[2016-05-06 19:23] gsfr opened #284 "Label uploads creating separate projects when project names contain special characters"
When using the folder uploader to hit the label upload endpoint and project labels contain special characters, such as parenthesis, a separate project is created for each acquisition.

To reproduce, rename the `Testdata` project in our standard test data to `Testdata (0)` before bootstrapping.

[2016-05-06 20:48] nagem commented on #284
We're using a regex in the query for the project:
`'label': {'$regex': project_label, '$options': 'i'}`

We should escape `project_label` with `re.escape()`

[2016-05-06 20:55] #284 closed

[2016-05-06 21:33] #283 closed

[2016-05-09 20:25] #202 closed

[2016-05-10 14:04] #273 closed

[2016-05-10 19:36] gsfr opened #291 "Move all singletons to a new Mongo collection"
Move the following singleton documents to a new Mongo collection called `singletons`.
- config
- version
- gears

Ultimately, gears should be migrated to a separate collection.

[2016-05-10 20:10] nagem opened #292 "Ensure timestamps on sessions and acquisitions are an ISO formatted string (or null)"
After a discussion with @rentzso about improperly formatted timestamps causing ElasticSearch headaches, a few places need to be changed:

`"timestamp":    {"type": ["string", "null"]}` needs to become `"timestamp":    {"type": "string", "format": "date-time"}` in:
 - input/session.json
 - input/acquisition.json
 - input/uidupload.json
 - input/labelupload.json
 - input/enginemetadata.json
 - mongo

[2016-05-10 20:35] nagem commented on #210
@gsfr this should be fixed with https://github.com/scitran/reaper/commit/29db44cec54f26a4613b62ce2a23c59a387ed0a7, correct?

Closing this ticket if so.

[2016-05-10 21:02] rentzso commented on #292
Adding that checks for timestamps needs to be fixed also in `download.py`, `'listhandler.py` and `containerhandler.py`.

[2016-05-10 22:18] gsfr commented on #291
`rules` is another item from the `static` collection that should be migrated to `singletons` and probably become its own collection before long.

[2016-05-11 18:50] gsfr commented on #210
Yes, closing.

We still need a larger discussion on how we want our schemas to behave. To me, it seems annoying that I'm not allowed to send null for a non-required field. More importantly, though, we need our schemas to behave consistently and predictably across the entire app.

[2016-05-11 18:50] #210 closed

[2016-05-12 16:20] nagem opened #294 "Combine auth/upload/download tokens to one mongo collection"
Create generic collection `tokens` with a `type` field containing auth/upload/download

[2016-05-12 19:17] kofalt opened #296 "Allow users to call /jobs/add"
From `api/jobs/handlers.py`:

[code]

@rentzso, would you mind lending me a hand?

Based on our conversation yesterday I was able to add simple permission checking for the new endpoint `/container/id/jobs`, but I am not sure how to implement the `TODO` mentioned in the code above.

[2016-05-12 19:30] nagem opened #297 "Unify hierarchy propagation"
We recreate some form of [this](https://github.com/scitran/core/blob/master/api/dao/containerstorage.py#L78-L93) many places in our code, notably [here](https://github.com/scitran/core/blob/master/api/handlers/listhandler.py#L231-L245) and [here](https://github.com/scitran/core/blob/master/api/handlers/listhandler.py#L316-L336). Move logic to central location, most likely in `hierarchy.py`

[2016-05-12 20:06] rentzso commented on #296
Sure. Assigning this to myself.

[2016-05-12 20:15] kofalt commented on #296
Cool.

Further on after that snippet, you'll see that the `inputs` variable is a `string -> FileReference` map, and the `destination` variable is a `ContainerReference`. My assumption is the auth check will have to move there, right before the `job = Job(` line.

Oh, and both of those types can be found in `api/dao/containerutil.py`.

[2016-05-12 21:20] kofalt commented on #269
The `jobs/` module is clear. Assigning to @gsfr for you to decide the next steps.

[2016-05-12 21:31] nagem commented on #255
Looking over the codebase we properly store tokens for uploads and downloads with a generated uuid. One change that will need to be made is [here](https://github.com/scitran/core/blob/master/api/upload.py#L335) where we are transforming the token into a bson ObjectId before querying. That can get fixed as part of #294

[2016-05-12 21:41] nagem commented on #297
Also a requirement for this ticket's completion is integration testing around propagation. Testing:
 - set archive status
 - set public status
 - delete/change tag at group level
 - change permissions at project level

[2016-05-13 16:10] #291 closed

[2016-05-13 16:35] #255 closed

[2016-05-16 15:51] elisapoquette commented on #296
Dependency for Adhoc gear prototype - short term, comment it out so @dpuccetti can start work

[2016-05-16 16:58] kofalt commented on #172
I believe this to be resolved.

[2016-05-16 16:58] #172 closed

[2016-05-16 16:59] kofalt commented on #160
@nagem you were asking about this limitation earlier? Here's the ticket tracking that.

[2016-05-16 17:10] kofalt opened #299 "Add tags field to /jobs/next"
Filter job queue retrievals by some set of tags: `/jobs/next?tags=a,b`.

The endpoint will behave identically when the `tags` field is present, except that results (if any) must have at least one of the tags specified.

Requested by @lmperry.

[2016-05-16 20:58] kofalt commented on #296
Workaround placed in branch for scitran/core#301.

[2016-05-17 14:38] ryansanford opened #303 "Adding a user that already exists results in HTTP 500"
Appropriate function `UserHandler.post()` should have routing pydocs when resolving with expected response when user is created vs. already exists.

Might be related to #66 ?

[code]

[2016-05-17 14:42] nagem commented on #292
Adding `"minlength": 1` should eliminate any empty strings so we don't have to check in code.

[2016-05-17 15:20] kofalt commented on #303
Yeah, definitely (relates to | is blocked by) #66.
There are likely several error states that will have the wrong code until that is resolved.

[2016-05-17 15:26] kofalt commented on #63
An update - thanks to #259, we now have Sphinx documentation generated and available at `/api/docs`. @ryansanford has proposed, and I agree, that any new endpoints should not be merged until they have documentation. So far that's worked out well. This ticket is now ready for implementation.

Once this ticket is complete, removing `Root.get` would be a reasonable course of action - Sphinx is genera

[2016-05-17 20:49] #292 closed

[2016-05-17 20:50] kofalt commented on #226
Loopback continues to be a problem in my dev environment :disappointed:
Will be happy to see this fixed.

[2016-05-18 03:53] gsfr commented on #269
According to pylint,
dangerous: `[], {}`,
safe: `None, False, 0, 0.0, '', ()`.

Ran pylint, got one hit for `dangerous-default-value` in api/base.py:320.
[code]

Looks like that method is never called. @nagem, @rentzso Ok if we simply remove the method?

[2016-05-18 04:01] gsfr commented on #63
Until `Root.get` is replaced with an equivalently concise and functional alternative, I'd like to retain it because I use it all the time. That said, I'd prefer to have it ported into Sphinx.

[2016-05-18 16:56] nagem commented on #269
SGTM. It didn't appear to be used in my investigation either.

[2016-05-18 18:45] gsfr commented on #269
PR #307 opened. We're also bringing in pylint permanently as part of #300.

[2016-05-18 20:24] #269 closed

[2016-05-18 20:56] #303 closed

[2016-05-18 22:50] #297 closed

[2016-05-18 22:53] nagem commented on #81
Fixed in #298

[2016-05-18 22:53] #81 closed

[2016-05-20 13:38] ryansanford opened #312 "No explanation of error with POST /api/engine"
HTTP 400 response on POST to /api/engine should contain a reason.

[code]

[2016-05-20 15:53] kofalt commented on #299
Resolved in #301 :+1:

[2016-05-20 15:53] #299 closed

[2016-05-20 16:30] kofalt opened #313 "Discussion: Behaviour when a gear produces invalid metadata"
We haven't explicitly laid out what should happen when a gear produces files but bad metadata. Right now, we reject the upload entirely. This is fine for gears whose runtime is measured in seconds, but we might have different opinions when runtime is measured in hours.

Personally, I would be very unhappy if 10 hours of runtime was thrown away due to a previously-undiscovered case where (for examp

[2016-05-20 16:36] kofalt opened #314 "Disable job retry when explicitly failed"
Retrying a job is an important & necessary feature when a job is orphaned.
This contrasts with all other failure scenarios that I'm currently aware of, which are not transient:

1. Gear is invalid
1. API-level incompatibilities
1. Bad environment (gears not available, corrupt, code issue, etc)

In all these scenarios, it doesn't make sense to spam a bunch of job failures.

I propose that we disabl

[2016-05-20 16:51] ryansanford commented on #313
Thanks for starting the discussion @kofalt

Scope of option 3 is outside of scitran/core.

Option 4 is attractive, but in practice will be a support/maintenance/complexity bourdon. I think this shou

[2016-05-20 16:56] ryansanford commented on #314
Maybe retry concern is outside scitran/core, since scitran/core only persists the queue, but all workers are external. We now have a job creation endpoint where engine can create new "retry" jobs if it sees fit, yes?

[2016-05-20 17:03] kofalt commented on #313
Agreed in general.

Option 3 will at least _involve_ the core, but indeed it would absolutely involve our other components.
It could definitely be an optional manifest key, in which case we could assume some default.

[2016-05-20 17:15] kofalt commented on #314
The `/jobs/add` endpoint currently doesn't accept a `previous_job_id` key, and I don't think we should add one because retrying a job creates an identical copy.

Instead, we could add a `/jobs/x/retry` endpoint, with the same permissions as `/jobs/add`, that will retry job X if X is in state `failed` and no other jobs have X as a `previous_job_id`.

The engine currently doesn't know anything about

[2016-05-20 19:21] #312 closed

[2016-05-20 20:02] kofalt opened #316 "New endpoint: /jobs/x/retry"
From #314:

Based on a discussion with @elisapoquette it's likely we'll want to implement that in any event :+1:

[2016-05-20 22:53] #316 closed

[2016-05-21 18:41] gsfr commented on #314
I agree. Jobs should only be retried under a controlled set of circumstances. Initially, that set could be limited to orphaned jobs. Another, future, reason might be "external resource unavailable". Let's make sure we keep the door open for future enhancements of this sort, using special exit codes or the like.

I'd also like to see the attempt concept moved into the job. If we need to run a job t

[2016-05-21 18:41] gsfr commented on #313
I like the idea of option 3, including an optional manifest key, and defaulting to the current throw-away behavior. This, of course, assumes that metadata isn't invalid with respect to target location.

[2016-05-23 13:16] kofalt commented on #313
Works for me pending other opinions. Since this would be a decent amount or work across components (and blocked anyway), I'm putting this in the icebox until we need it.

Changing to enhancement - the 3 retries component is tracked by #314.

[2016-05-23 13:16] kofalt commented on #314
Aside: retry endpoint landed as #316, so admin panel / etc bits could now be rigged up if desired.

This is a good opportunity to put some queue configuration into the database - there's a `MAX_ATTEMPTS` integer that's been wanting that for awhile. I'll move that, and add a key that disables retries entirely when explicitly failed. Pending disagreement, that will be default behaviour.

Assigning t

[2016-05-23 17:42] kofalt opened #319 "New endpoint: POST /gears/x"
Allow for upserts to the gears "table".

[2016-05-23 17:51] kofalt opened #320 "POST /gears/x adds a fetch job"
After #319, add a job to the queue for prefetching of assets.
Requested by @ryansanford to minimize job latency.

[2016-05-23 19:18] #173 closed

[2016-05-23 22:24] kofalt opened #321 "Proposal: reconcile REST verbs"
Differences I care about highlighted in bold, based on my current understanding:

| Action | REST | Scitran |
| --- | --- | --- |
| `POST /` | Create | Create |
| `POST /id` | Create with ID | Reject |
| `PUT /id` | Upsert <sup>[source](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.6)</sup> | **Patch** |
| `PATCH /id` | Patch | **Unused** |
| `DELETE /id` | Idempotently delete | **De

[2016-05-23 22:28] kofalt commented on #321
After discussing with @nagem the best path forward for #319, I'll probably just make that a POST for now, since it'd be less confusing with our current setup. Doesn't matter a ton anyway, since it'll be superuser-only.

[2016-05-23 22:32] kofalt commented on #296
This was resolved in scitran/core#301 :+1:

[2016-05-23 22:32] #296 closed

[2016-05-25 14:12] ryansanford opened #325 "DB schema update is failing from version 2 DB"
End result is that there is no version document in the `singletons` collection, and the `version` collection still exists with a value of 2.

bin/database.py prints nothing on stderror or stdout, and return code is 0.

[2016-05-25 16:51] #319 closed

[2016-05-25 16:59] #314 closed

[2016-05-25 16:59] kofalt commented on #268
Closed in #326

[2016-05-25 16:59] #268 closed

[2016-05-25 18:51] #325 closed

[2016-05-26 20:42] ryansanford opened #330 "/api/gears/(gid) route does not work when there is no gears document"
On a new instance of scitran/core when there is no `gears` document yet in the singletons collection, POSTing to /api/gears/(gid) returns a HTTP 200, but no `gears` document is created.

Integration tests for this route should be added, and would have caught this issue.

[2016-05-26 21:44] kofalt commented on #330
Quick fix was added with 4a32bbd, no tests at the moment

[2016-05-27 16:01] kofalt commented on #321
From team discussion:

1. Make delete idempotent.
1. Move PUT -> PATCH as needed
1. Reconcile any other patches
1. Placers don't replace existing fields
1. Pending sanity check, small db upgrades from ObjectId to string
1. Discuss generated string ids groups & users

[2016-05-31 19:15] nagem opened #331 "Allow editing of analyses labels"
Currently `PUTs` on analyses are not allowed.

[2016-06-01 15:05] nagem commented on #261
This was changed in flywheel-io/flywheel#173, closing.

[2016-06-01 15:05] #261 closed

[2016-06-02 15:30] nagem opened #332 "Job-based Analyses"
Allow for the creation of analyses that are tied to a specific job, with the analysis being the job's output destination. This will be a first pass to get things working for now. A reworking of both types of analyses, using what we learned from these two prototypes, is expected to be done soon after.

 - [x] Create a new endpoint that creates a new analysis and job, then ties them together via the

[2016-06-03 16:16] nagem commented on #332
Ran into a snag with permissions, talked it over with @elisapoquette. Synopsis of discussion:

1. Bob has access to Proj1 and Proj2. Alice has access to Proj2 only.
1. Bob creates an analysis on a session in Proj2 tied to a job.
1. Bob chooses a file from an acquisition on Proj1 for one of the inputs to his job.
1. Alice loads the analysis from Proj2 (legal, as she has access to it's session).
1.

[2016-06-03 17:12] gsfr commented on #332
This is much broader than we originally envisioned. Inputs are always to be chosen from a single container, initially just sessions. Projects are a straightforward extension as the permissions are clear.

For collection-level analyses, the same permissions issues will apply as do to collections themselves. Appropriate warnings for the creator or sharer of the collection/analysis as well as proper

[2016-06-03 18:56] nagem commented on #332
That's a fair assumption - I'll remove that permissions checking. Our API does allow you to specify inputs from anywhere, though. Instead that might need to be tightened up.

[2016-06-06 15:58] kofalt opened #334 "Turn gears into first-class citizens"
Break away from their singleton doc & turn into their own objects.

[2016-06-06 22:01] #332 closed

[2016-06-08 11:32] ryansanford opened #335 "Integration tests failing, but travis still passes"
### Output from Travis
[code]

[2016-06-08 15:19] #335 closed

[2016-06-08 22:16] nagem opened #337 "Add search flag for searching all data"
A user should be able to choose wether they want to search all data via advanced search or just data they have permission to view. Adding `?=all_data=true` to calls to `/api/search` will toggle this feature. The default will be `false`.

[2016-06-09 21:56] #337 closed

[2016-06-10 13:46] ryansanford opened #341 "Enable Warning checks with pylint"
Pylint should have warning checks enabled.

[2016-06-20 21:24] nagem opened #346 "Targeted Uploads ignoring file metadata in form data"
Uploading a file to a container using `POST api/<cont_name>/<cont_id>/files` ignores metadata sent in the form-data.

[2016-06-20 22:19] #346 closed

[2016-06-22 19:56] dpuccetti opened #353 "Separate Logs by System"
Currently between job polling, elastic search, engine execution and API requests the logs are very difficult to read / search through.

It would be ideal to separate the log files by system to make them easier to parse.

[2016-06-23 16:24] #320 closed

[2016-06-23 22:18] nagem opened #355 "Changes in default config should be reflected in db config"
Changes [here](https://github.com/scitran/core/blob/master/api/config.py#L23-L58) should be reflected in the config persisted to the db. A key error bug has led the team to believe that is not happening. More investigation needed.

[2016-06-28 11:56] ryansanford commented on #355
@nagem Let me know if/how I can help with this issue (testing?). It it making upgrades more risky and labor intensive.

[2016-07-06 17:51] nagem opened #359 "Metadata from uploads should only set null fields"
If metadata is sent to an upload endpoint (for example, `api/engine`), it should only update fields that are `null`. This is to prevent the engine or other upload paths from clearing out user edited information.

[2016-07-06 20:50] nagem commented on #160
As of #357, you are able to upload to an acquisition, a session, or a project. Uploading to multiple levels of the hierarchy at the same time, if still necessary, can be done in a separate PR.

[2016-07-06 20:54] kofalt commented on #160
SGTM. We don't have anything on the roadmap regarding gears simultaneously uploading to multiple levels of the hierarchy.

[2016-07-06 20:54] #160 closed

[2016-07-06 20:56] gsfr commented on #159
Let's talk about schema unification at standup tomorrow. I'd also love to finally get rid of the schema composition loopback shenanigans.

[2016-07-06 21:05] gsfr commented on #160
We should have our schemas enforce this limitation.

[2016-07-07 20:06] nagem commented on #159
While working on #360, I noticed that `upload.reaper` is still there. Has the reaper been updated to use either the label or UID endpoint, and if so, can this be removed? @gsfr @rentzso

[2016-07-08 18:21] gsfr commented on #159
Yes, we only use `/upload/uid` and `/upload/label`.

[2016-07-11 16:44] nagem opened #361 "Add additional subject fields for race and ethnicity"
Subject entities should track race, ethnicity, and sex for reporting purposes.

Race field should have the following categories:
- American Indian or Alaska Native
- Asian
- Native Hawaiian or Other Pacific Islander
- Black or African American
- White
- More than One Race
- Unknown or Not Reported

Ethnicity should have the following categories:
- Not Hispanic or Latino
- Hispanic or Latino
- Unkn

[2016-07-11 18:14] nagem opened #362 "Restructure job schema"
`job` objects stored in Mongo have an `inputs` field structured as a dictionary. The arbitrary keys make it difficult to search the dictionary for inputs referencing a specific container, resulting in inefficient javascript queries like [this one](https://github.com/scitran/core/blob/master/api/jobs/queue.py#L188-L197).

Restructuring the `inputs` field to be a list of inputs and setting a `type`

[2016-07-12 17:30] kofalt opened #363 "rules.py should be a collection of object methods"
Get with the times, rules code!

[code]

Will mirror the Job class since that worked out very well.

[2016-07-12 17:30] kofalt opened #364 "Discussion: Add rule support for depending on jobs"
Another entry under the "we don't have a graph for something that is a graph" category.

At the moment, our nascent rule system only allows jobs to be triggered on files. This works for a `dicom comes from space --> convert to nifti --> do something with the nifti` workflow, but does not work for workflows that involve classifier gears. If a gear only uploads metadata, there is no change as far as

[2016-07-12 17:30] kofalt opened #365 "Remove bash exit code wrapper"
Right now, jobs are ran in a bash wrapper that catches and ignores the gear exit code. This is for historical reasons - gears crashing (and exiting non-zero) in scenarios that should not be registered as a failure.

As we expand our set of gear authors beyond scitran, this will quickly become untenable.
1. Retrofit existing gears to always exit zero in non-failure modes
2. Validate
3. Remove exit

[2016-07-12 19:53] #355 closed

[2016-07-12 20:35] #359 closed

[2016-07-18 19:41] #362 closed

[2016-07-18 23:35] lmperry opened #367 "Permissions not propagated when moving a session from one project to another"
If you move a session from one project to another, the permissions of the target project are not assigned to the session's acquisitions, thus making that session appear empty when viewed.

cc @ryansanford @gsfr

[2016-07-19 16:32] #367 closed

[2016-07-19 21:31] elisapoquette opened #370 "Subject sex cannot be set to Unknown, Other is not currently an option in frontend"

[2016-07-19 21:41] nagem opened #371 "Do not log full stacktrace for Elastic connection issues"
We should not log a full stack trace on elastic NewConnectionError since it'll happen a lot: catch and log a message instead.

[2016-07-19 22:30] #370 closed

[2016-07-21 19:40] kofalt opened #374 "Remove or accept duplication"
Ref scitran/core#372, where one objects ended up duplicating part of another for ease-of-use in elasticsearch. My guess is that this won't be the last time we might need something like this. It seems reasonable that we should avoid duplication whenever possible, as it breaks single-source-of-truth and increases risk.

In short: the in-process app model != the mongo storage model != the elastic sea

[2016-07-26 16:47] #361 closed

[2016-07-28 18:05] ryansanford opened #378 "Schema update taking 40 minutes for site with 60k jobs"
For the next DB schema update, let's define expected duration for given record counts and appropriate levels of progress indication.

Collection counts from the DB:
session = 3043
job = 61201
acquisition = 30078

[2016-07-28 22:54] kofalt opened #379 "Discussion: rename file / other model properties to avoid json schema reserved keywords"
Our [file data model](https://github.com/scitran/core/blob/master/api/schemas/input/file.json) has a `type` key in it, which is awkward when writing a [schema snippet](https://github.com/flywheel-io/gears/tree/master/spec/v0#the-manifest) that matches part of it.

I don't have a list of json-schema reserved keywords in front of me - it might rightly be described as the set of all schema directives

[2016-07-28 22:55] kofalt commented on #379
I tentatively propose we replace `file.type` with `file.stype`, aka "scientific type". (dicom, etc)
Contrast the existing `file.mimetype`.

[2016-07-28 23:28] kofalt opened #380 "Add config parsing on api/jobs/next"

[2016-07-28 23:29] kofalt opened #381 "Store config on job object"

[2016-07-28 23:29] kofalt opened #382 "New route: GET jobs/3/config"

[2016-07-28 23:30] kofalt opened #383 "Add new config route to formula generation"

[2016-07-28 23:42] kofalt commented on #159
Can we close this given that @nagem is working on jinja stuff, which will probably handle dedup?

[2016-07-29 03:54] gsfr commented on #159
Let's reserve @nagem the gratification of closing this from her anticipated jinja PR.

[2016-07-29 04:46] gsfr commented on #379
SGTM, although I'm opposed to `stype`. It's cryptic and misleading. Referring to our [list of filetypes](https://github.com/scitran/core/blob/master/api/files.py#L247-L269), items like "presentation" or "video" are not scientific types by any means.

The best thing I can come up with is `file.kind`.

[2016-07-29 05:06] kofalt commented on #379
That works for me, pending it not randomly being a reserved keyword either :D

[2016-08-03 21:42] elisapoquette opened #387 "Misc Search enhancements"
_API Changes_

- [x] Inability to Search analysis containers
- [x] Can't search on null or missing fields
- [x] Inconsistent wild cards

[2016-08-03 21:44] elisapoquette commented on #387
@nagem the above are issues that have been identified as creating usability problems with Search. Lets's discuss - I would like to make these updates by end of next Sprint.

[2016-08-03 21:48] nagem commented on #387
I'll review with @rentzso.

[2016-08-03 21:49] nagem commented on #387
I'm not sure I understand this request:

[2016-08-04 20:24] kofalt commented on #379
No pressure, but this will make some upcoming CLI stuff a lot nicer.
Any chance we could bump this / combine it with DMv2?

[2016-08-04 22:42] gsfr commented on #379
I would be fine with that. Probably less work for the UI team, as well.

@nagem: Thoughts?

[2016-08-04 23:48] nagem commented on #379
I probably won't get to it until early next week, but should be easy to combine it will DMv2.

[2016-08-06 19:20] gsfr opened #389 "Add explicit subject entity"
DO NOT WORK ON THIS! DO NOT CLOSE! Capturing discussion outcome.

Adding a distinct subject entity to our data model and endpoint may be required to achieve certain subject related functionality, including proper BIDS support.

Pros:
- full BIDS support
- subject-level files and metadata
- subject centric view

Cons:
- more hierarchy
- more joins

![Data Model](http://g.gravizo.com/g?
  digraph g

[2016-08-09 13:25] coltonlw opened #390 "Create prototype API spec and testing process"
Remaining tasks:

- [x] Get as many auto-generated integration tests passing as possible without large investment
- [x] Test documentation hosting strategy
- [x] Outline new endpoint design and mocking strategy

[2016-08-09 18:02] coltonlw opened #391 "Standardize docstring format in codebase"
There are two main docstring formats for Python that sphinx can render into HTML:

reStructuredText:
https://www.python.org/dev/peps/pep-0287/
https://pythonhosted.org/an_example_pypi_project/sphinx.html
http://thomas-cokelaer.info/tutorials/sphinx/docstring_python.html

Google style:  http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

Both of these can be rendered by Sphi

[2016-08-09 18:08] kofalt commented on #391
I'm happy with either and defer to the others tagged :)

[2016-08-09 18:32] coltonlw commented on #63
See #390 for current progress

[2016-08-10 01:20] gsfr commented on #391
I'm also happy to go with either format. Since I don't have any firsthand experience, I'll support whatever you choose, @coltonlw.

Re readthedocs.org, we should also consider building docs ourselves, using travis, for instance, and pushing to scitran.github.io/docs or similar.

It would be nice to refresh what's on scitran.github.io/.

And we also have control over scitran.io, which currently red

[2016-08-10 13:37] coltonlw commented on #391
Sounds good, build the docs ourselves, readthedocs can be finicky sometimes anyway.  Regarding the format, after sleeping on it I've decided the Google style would be better for us, it is way easier to read in the code and I think that's important.  I will use google style docstrings for the testing utilities I'm building and then everyone can take a peek when I present my plan for testing.

[2016-08-10 15:00] ryansanford commented on #391
FYI -- `docs/build-docs.sh` will build the docs. Currently the default entrypoint for the docker image runs this script and uwsgi hosts them at the URL path /api/docs/index.html

[2016-08-10 18:02] coltonlw opened #392 "Authentication not required by default"
Our api does not have a decorator or base view class that provides a "requires login" functionality.  Endpoints requiring authentication do this at the same time they do authorization, for instance by calling userauth.default() .  This can happen at any point in the view function, and sometimes it happens later on the view function because other information is required to do authorization.  Endpoi

[2016-08-10 18:21] coltonlw commented on #392
Demonstration with curl:

`(pyraml) Coltons-MacBook-Pro:raml coltonlw$ curl -k -D - -X PUT https://docker.local.flywheel.io:8443/api/users/lwcolton%40gmail.com

HTTP/1.1 404 Not Found
Server: nginx/1.9.3
Date: Wed, 10 Aug 2016 18:20:14 GMT
Content-Type: application/json; charset=utf-8
Content-Length: 68
Connection: keep-alive
Vary: Accept-Encoding
Cache-Control: no-cache

{"status_code": 404, "mes

[2016-08-10 18:29] nagem commented on #392
The real source of this problem is allowing users through our authentication step in `base.RequestHandler` marked as a public request and waiting to check authorization to varying levels of time. Some handlers boot public requests immediately while some allow the request to reach telling errors (such as the 404 colton linked above). Most wait until right before the db lookup (like `ContainerHandle

[2016-08-10 18:43] gsfr commented on #392
Happy to see security tightened, of course, but the ability to make data public is a core feature that we cannot remove.

I could imagine duplicating the relevant routes for public data under a `/pub` prefix, and all non-pub routes are locked down to authenticated users only.

Would such an approach address this issue?

[2016-08-10 18:57] coltonlw commented on #392
Sure, that would work, as it would require public endpoints to be explicitly defined as public by placing them under the /pub prefix.  The issue is right now all endpoints are public unless explicitly made private by the code in the view.  I'm suggesting we reverse that default behavior, so all endpoints are private unless the code declares them public.  This still allows us to have the same publi

[2016-08-11 12:35] coltonlw opened #394 "Some endpoints do not validate input"
This issue is to track endpoints which need to have input validation with jsonschema added:
- [ ] Jobs
- [ ] Gears
- [ ] Rules
- [ ] Search
- [x] POST /api/engine   (strategy "analysis")   AnalysisPlacer:  https://github.com/scitran/core/blob/master/api/placer.py#L505

@ryansanford

[2016-08-11 15:16] ryansanford opened #395 "Remove legacy Dockerfile"
This is a continuation of #368

Once systems building the docker image (dev environments, build server) have been updated, and this change is incorporated into active branches, we can remove the symlink at docker/Dockerfile in this repo.

[2016-08-11 18:04] kofalt opened #396 "Add search status endpoint"
A public endpoint that always returns 200, providing information about the current status of our elastic search component. Used to know if search is:
1. Healthy - ready for queries
2. Indexing - search results may be incomplete
3. Error - connection failed or other problem

Intention is that you could poll `/status/search` or whatever until healthy is returned.

[code]

May be relevant to @ryansan

[2016-08-11 23:19] gsfr opened #397 "Access logging"
In our effort to becoming HIPPA compliant, we have to start logging user access to data.

In a first iteration, let's implement logging of the following "view" events:
- [ ] bulk file download
- [ ] individual file download
- [ ] file viewing
- [ ] retrieval of subject information

To keep us from having to log each session that is returned by session list queries, we should consider stripping non

[2016-08-11 23:59] gsfr opened #398 "Add support for additional storage backends"
We currently only support POSIX file systems as our storage backend. As we gear up for large-scale cloud deployments, let's add support for additional backends, such as S3-compliant key-value stores.

[Girder's Assetstores](https://girder.readthedocs.io/en/latest/user-guide.html#assetstores) may be a good starting point.

[2016-08-12 02:55] gsfr commented on #396
Given that this is no longer a blocker for NIH work, does anyone actually need this right now?

[2016-08-12 12:24] ryansanford commented on #397
@gsfr
Can we get a link to the relevant HIPAA guideline we are attempting to address?

[2016-08-12 15:23] kofalt commented on #397
To get things started, here's roughly what I had in mind last time we discussed this.

Append-only collection called `events` with format:

[code]

Open questions:

1. Is this sufficient to log every action we need? Does `target` need to be an array?
1. Decide if an event is created before or after an action is taken. I'd say before, and we document that the event log is susceptible to false posit

[2016-08-12 15:38] ryansanford commented on #397
Are there search requirements? Search capability was a big deal in the patient/clinical space. Things like "Get all history for this study." and "Get all records for user X on day Y." and "Get all delete actions for the last 7 days."

[2016-08-12 16:26] nagem commented on #396
@gsfr I do not believe so, no. I agree it would be a useful feature to have at some point, though.

[2016-08-12 17:06] nagem commented on #397
If it fulfills all the requirements for what we need to log, I was thinking a simple decorator we can add to handler methods that logs uid/drone id, ip, the "action" (method, our own notation, etc), the query params and the request body that is invoked after the handler method completes would work. Something like this:

[code]

[2016-08-13 05:14] gsfr commented on #397
Thanks everyone for the great comments and questions.

@ryansanford Please obtain specific HIPAA info from resident HIPAA expert @inijim. Following his lead here. +1 on search capability.

@kofalt +1 on newline-delimited JSON. +1 on false positive over false negatives. -1 on making `target` an array. I'd prefer logging each target separately, even for bulk downloads. Makes searching easier, for in

[2016-08-13 05:32] gsfr opened #402 "Proposal for MR data classification"
The purpose of this classification proposal is to capture how users _think_ about their data and how they would want to _search_ for it, but not to be a ground truth, MR physics-based classification that could be used by processing algorithms.

MR data will be classified according to the following **aspects**, which are all multi-select.

- **Contrast:** B0, B1, T1, T2, T2*, PD, MT, ASL, Perfusion

[2016-08-15 16:04] coltonlw opened #404 "Review skipped abao tests"
We are skipping some abao tests for various reasons, this issue tracks those tests so we can begin making the changes necessary to enable them.

Skipped tests are listed here: https://github.com/scitran/core/blob/master/test/integration_tests/abao/abao_test_hooks.js

[2016-08-15 20:39] coltonlw commented on #391
I would like to use Google style docstrings, as I mentioned before it's more readable in the code. Closing this, if anyone has more input feel free to re-open

[2016-08-15 20:39] #391 closed

[2016-08-15 20:41] coltonlw opened #405 "Create code standards and processes"
Begin documenting coding standards:

**Coding Standards**
- Use google style docstrings
- Create tests for new features

**New API endpoint Creation Process**
**Finalize API spec and testing document**

[2016-08-15 20:45] coltonlw commented on #235
@nagem Thanks for taking the time to implement $ref support from the filesystem

[2016-08-16 13:54] coltonlw opened #407 "Documentation for scitran/core"
- [x] Clearly outline difference between scitran.github.io  and scitran.github.io/core
- [x] Decide what to use or not use the github project wiki for
- [ ] Define index layout for scitran.github.io/core
- [x] Find home for coding standards and new API resource creation process
- [ ] Document work items for frontend developers to style the docs and API console
- [ ] When styling the API console, a

[2016-08-16 17:26] #235 closed

[2016-08-17 16:51] #341 closed

[2016-08-17 16:53] nagem commented on #159
How do we feel about "input schema unification" after #406?

[2016-08-17 16:55] nagem commented on #379
Work is done in branch `file-to-kind-rename`.

Working with @kofalt currently to determine if this rename is necessary.

[2016-08-17 17:34] nagem commented on #379
Resolved by modifying the [manifest schema](https://github.com/flywheel-io/gears/compare/v1)

[2016-08-17 17:35] #379 closed

[2016-08-17 17:43] nagem commented on #387
As to searching for a `null` or missing field, the frontend could make a query request similar to the one documented [here](https://www.elastic.co/guide/en/elasticsearch/guide/current/_dealing_with_null_values.html#_missing_query)

Elastic handles missing fields and `null` fields the same.

[2016-08-17 18:08] gsfr commented on #159
Keeping this open per offline discussion with @nagem.

[2016-08-17 21:33] chrisfilo commented on #402
Mapping of the basic BIDS dat types:
- _T1w : Contrast == T1, Intent == Structural
- _T2w : Contrast == T2, Intent == Structural
- _T1map : Contrast == T1, Intent == Structural, Features == Quantitative (however we are considering just storing the INV1 and INV2 from the MP2RAGE sequence and leaving the reconstruction to the user)
- _T2map : Contrast == T2, Intent == Structural, Features == Quantit

[2016-08-17 21:40] coltonlw opened #410 "Remove insecure mode"
Right now we run our integration tests in "insecure" mode which allows any user to impersonate any other user and also to gain root privileges without actual authorization.  To properly verify permissions we will need to run in "secure" mode and use different test accounts for different roles.  My opinion is that insecure mode should be removed altogether, the same thing can be accomplished simply

[2016-08-17 22:07] gsfr commented on #402
Thanks, @chrisfilo. I'm not an expert, but would kindly ask @bobd for his thoughts on your comments.

Please note that the purpose of this classification proposal is to capture how users *think* about their data and how they would want to *search* for it, but not to be a ground truth, MR physics-based classification that could be used by processing algorithms. I'll also update the original post wi

[2016-08-17 22:56] rfdougherty commented on #402
I think the mapping looks reasonable. As for the comments/questions, I first have a general comment (maybe 'rant' is a better word). I find it confusing to conflate the raw files used to compute a quantitative metric (T1, T2, fieldmap, etc.) with that metric. E.g., calling the multi-inversion scans or mulit-flip scans '_T1map'. I think just storing the raw images as generic structurals is better,

[2016-08-17 23:18] gsfr commented on #402
Thanks, @rfdougherty. I added multi-flip to the features above.

Do we also need a 'fieldmap' feature, akin to quantitative? Not to be confused with fieldmap-corrected.

[2016-08-17 23:26] coltonlw opened #412 "Create machine-readable permissions matrix"
To enable a better authorization system, I think creating a machine-readable permissions matrix would be a good start.  This would be a map of action and target item type to permissions level required for that operation.  I think YAML might be a good format.  Investigation of how people are solving this problem already and what tools are available should also be done.

@ryansanford @gsfr Permissio

[2016-08-18 12:53] coltonlw commented on #199
Docs for LoggerAdapter, a way to add contextual information to a logger:
https://docs.python.org/2/library/logging.html#loggeradapter-objects
https://docs.python.org/2/howto/logging-cookbook.html#context-info

Snippet for generating a request id:

[code]

`a7c49271-1471524694`

[2016-08-18 16:27] nagem commented on #387
Wildcard characters (specifically `*`) should not be necessary as a the a search for `loc*` and `loc` will return the same results.

A search like `loc*nt` is a whole different can of worms but I don't think we have a need for that.

[2016-08-18 16:28] nagem commented on #387
Will review how reducing the `min_gram` length to 2 will affect indexing time on larger datasets.

[2016-08-18 20:35] nagem opened #413 "Add API key support for devices"

[2016-08-19 11:17] coltonlw opened #415 "Review API Console License"
We need to review the license for the mulesoft API console, since we are hosting it in the gh-pages branch of our repo

@ryansanford gunnar said you could help with that

https://github.com/scitran/core/blob/gh-pages/docs/api/api-console/LICENSE

[2016-08-19 11:20] coltonlw opened #416 "Implement server-side pagination"
Our API Doesn't appear to support server-side pagination, as data grows that will probably be something we want to add

[2016-08-19 12:43] ryansanford commented on #415
As long as we don't make modifications, and keep the LICENSE in place, this will be ok to use. If we make changes to CSS down the line, adherence to section 3.3 will be important, beyond the usual OSS license considerations.

[2016-08-19 12:46] #415 closed

[2016-08-19 13:27] #405 closed

[2016-08-19 17:32] coltonlw commented on #407
@gsfr Can you help answer some of the questions above in terms of the two different github pages sites, the project wiki, and the layout of the different github pages?

[2016-08-19 17:51] coltonlw opened #418 "Document API versioning strategy"
This issue is to track progress on creating a documented strategy for versioning our API including:
- [ ] What information is provided with a new api release and what is the process for generating one
- [ ] How to determine if a breaking change change is even worth making, since it would require a new API version
- [ ] How to make API version upgrade as smooth as possible for users, integrated sof

[2016-08-19 18:24] coltonlw opened #419 "Make deploying integration test environment convenient"
Make sure this re-integrates with travis workflow

Document this in CONTRIBUTING.md

[2016-08-20 03:42] gsfr commented on #407
Here is my humble opinion:

- scitran.github.io should provide an overview of all active repos, as well as a mission statement. I'm thinking, single page. It should link out to *our friends and valued contributors at Flywheel*, and Flywheel can link back to there.

- The individual repo pages provide more detailed information and documentation.

- For now, I would use the wiki sparingly, if at all

[2016-08-22 13:15] coltonlw opened #420 "Listing jobs does not translate "inputs" field from DB representation to Job model representation"
When a new Job is added, the inputs property is an object.  When JobsHandler saves the job to the database, it translates "inputs" property to an array of objects.  https://github.com/scitran/core/blob/master/api/jobs/jobs.py#L147

@nagem Can you explain why we made this change?  In a comment in database.py you reference scitran/core issue #363 , I wasn't sure what the relation was.

https://githu

[2016-08-22 16:06] nagem commented on #420
Oh I probably ref'd the wrong issue #, here is the correct one: https://github.com/scitran/core/issues/362

[2016-08-22 16:14] nagem commented on #420
We need to search the jobs table for jobs that reference specific containers (acquisitions, mostly) fairly often. If the `inputs` field is a dict with arbitrary keys, we cannot index on the container id and queries become complex (as you can see by [this old JS query](https://github.com/scitran/core/commit/4e8171500770103bbcdc95f49700a8ac47d1f12d#diff-7c6647ff2f2d4b5702cde704e02c4d9bR139)).

We di

[2016-08-22 16:25] kofalt commented on #420
To clarify, in memory the `inputs` property is a string -> FileReference map.

Megan is spot on regarding the change, basically mongo does not seem to have good support for wildcard map keys. Finding a match on the far side of an arbitrary key is something that (based on our research) they discourage; making it an array fixes the problem.

The change you link in `load()` and `mongo()` sidestep wha

[2016-08-22 16:31] coltonlw commented on #420
I see the change in load() to translate back from the DB representation to the Job representation.  What threw me is we forget to change the code for listing all jobs to do this as well:

https://github.com/scitran/core/blob/master/api/jobs/handlers.py#L283

The result is listing jobs shows inputs formatted as a list, whereas creating a job or detailing a job show the dictionary representation.  T

[2016-08-22 16:33] kofalt commented on #420
Hah! Yes, that looks like a bug to me.

[2016-08-22 16:33] coltonlw commented on #420
@ryansanford Is it possible to add this to current sprint?

[2016-08-22 17:43] nagem opened #421 "Download tweaks and bug fixes"
- [x]  Make BIDS download format the standard (Group -> Project -> Subject -> Session -> Acquisition)
 - [x] Add query param to set base folder name. Default to `scitran`
 - [x] Fix bug in path format for sessions with timestamps and no label

[2016-08-22 18:10] #390 closed

[2016-08-22 18:50] rentzso opened #423 "Extend the API to support label uploads from users"
Label uploads are only available to drone requests.
However, the [organizer](https://github.com/scitran/organizer) should use that route to upload user data.
A possible solutions is to provide a route to retrieve a drone API key for normal users (related to #413 I guess).
@nagem @gsfr I would like to know your thoughts about this.
Thanks!

[2016-08-22 20:06] nagem commented on #423
Our error message erroneously reads `uploads must be from an authorized drone` but really it's just super_user that is required for the request (most likely to minimize permissions checking on upload). @gsfr might have a better idea on who the typical user for the organizer will be and if it is possible they don't have site admin rights.

A drone API key will give them the same rights as super_use

[2016-08-22 20:07] nagem commented on #423
If indeed we do need to support users that are not site admins using the organizer, we'll have to add permissions checks to the upload endpoints.

[2016-08-22 20:24] coltonlw commented on #407
@gsfr You can see what I've done so far in the README of master:  https://github.com/scitran/core

[2016-08-22 20:51] nagem opened #424 "Make upsert optional for UID upload endpoint"
Add query param that requires the container to exist for uid upload.

[2016-08-22 22:31] gsfr commented on #423
Anyone should be able to upload data, using tools like the Organizer or folder sniper. Permissions checks seem inevitable.

[2016-08-22 22:35] nagem commented on #423
We'd probably want to check permissions before the user sends us any files, so would upload move to a two-step transaction like download? Intent to upload generates an upload ticket?

[2016-08-22 23:04] gsfr commented on #423
Probably a good idea.  Uploading for hours just to have every file denied would make for a very poor user experience. Not necessary right away, though. A standard permissions check might get us launched faster and won't require refactoring on the Organizer or sniper side.

[2016-08-23 14:21] ryansanford opened #427 "Introduce scheduled_run_time for job documents"
It is not intuitive that `jobs/next` returns jobs ordered by their modification time, and that updating a job would drop it to the bottom of the queue.

Suggest introducing a scheduled_run_time field that defaults to the creation datetime, but can be set when creating jobs by hand.

Beyond decoupling execution order from modification time, this would enable a single ordered query for the jobs now

[2016-08-23 14:39] kofalt commented on #427
Hmm, it would make more sense to have the queue ordered by `created` instead of `modified` in any event. That would be pretty straightforward to change if we didn't want to chase this ticket. The queue was written on the assumption that `modified` = `created` for all pending jobs.

Questions:

1. In what scenario might a job be modified after adding it to the queue, but before it runs?

1. Would y

[2016-08-23 14:42] kofalt commented on #427
One quirk with this proposal is that I would like the queue system to be open to non-FIFO ordering in the future, so `scheduled_run_time` might not always be the best name for the field... but not a huge concern.

[2016-08-23 14:44] kofalt commented on #427
Also worth noting that if you have queue consumers using the tags parameter (selectively choosing which jobs to run) it might be confusing to see a job that was "scheduled" 5 hours ago, but will actually *never* run in the current environment.

[2016-08-23 14:55] ryansanford commented on #427
If a job got queued for future execution, but an administrator later wants to change it to a different time in the future, or at the end of any current backlog.

I foresee `now` flag being removed, or transitioning into a priority designation.

I agree, however, this concern exists irregardless of a `scheduled_run_time` enhancement.

[2016-08-23 18:08] #109 closed

[2016-08-25 15:20] #424 closed

[2016-08-25 16:32] nagem commented on #423
For the `api/upload/*` endpoint, we ensure the hierarchy exists/create it during the `check()` phase of the placer. We could add permchecks there initially so at least you'll get a `403` earlier in the process.

[2016-08-26 13:08] kofalt opened #435 "Proposal: add origin key to job doc"
@dpuccetti pointed out to me recently that we don't currently store who started a job. Seems like that should be easy to fix. What do ya'll think of storing the origin doc on the job when it is created?

I think all we would do is start throwing it on the object, and write a DB upgrade to give all current jobs an unknown origin doc.

[2016-08-27 18:51] coltonlw opened #438 "Test json input validation"
Come up with some way to generate bad input and make sure api endpoints validate input.  Do this with as little boilerplate as possible.

[2016-08-27 19:21] coltonlw opened #439 "Incorrectly setting __config_persisted"
In config.py we incorrectly set __config_persisted, resulting in database initialization and config write happening twice.  The following snippet is from [config.py](https://github.com/scitran/core/blob/master/api/config.py#L237):

[code]

on upsert, modified_count will be equal to 0.  The mongo response object has a property called "upserted_id" which will have the id of the upserted document.  T

[2016-08-28 03:52] gsfr commented on #439
Nice catch, @coltonlw.

Seems to me that we don't actually care whether an insert or an update took place. Since any problem with the Mongo operation would raise an exception and stop the local control flow, we should be fine simply setting `__config_persisted` to `True`. Right?

[2016-08-28 15:20] coltonlw commented on #439
Yeap that sounds correct to me

[2016-08-29 11:51] landge opened #440 "failed to open python file bin/api.wsgi in core/docker examples"
Hi,
I would like to test scitran and tried following your examples in core/docker readme.md. But I
get stuck with an uwsgi error msg (docker on debian):

[code]

I don't understand how all the parts are fitting together. I know this seems to be an uswgi configuration issue, but isn't everything set up correctly by the docker run command in the docker/examples? I'm new to docker and uswgi.... so an

[2016-08-29 14:09] ryansanford commented on #440
@landge
I assume you are operating off of a fresh clone of the master branch? Are all the files in your local clone globally readable? Were the example commands are executed from the root of the repo, and not the docker subdirectory?

The command `docker inspect scitran-core` will display details on  the docker container setup using the example. In the "Mounts" section, look for an entry matching

[2016-08-30 00:34] gsfr commented on #416
Noted! We're going with client-side pagination for now.

[2016-08-30 00:34] #416 closed

[2016-08-30 00:35] gsfr opened #444 "Bring gh-pages docs into mater branch"
https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/#publishing-your-github-pages-site-from-a-docs-folder-on-your-master-branch

[2016-08-30 07:27] landge commented on #440
Thanks Ryan,

I worked with an docker image form docker hub and did not pay attention to
file localisation. I'll check out your comments and
see how far I get.

Thank you once more!

On Mon, Aug 29, 2016 at 4:09 PM, Ryan Sanford <notifications@github.com>
wrote:

[2016-08-30 16:07] coltonlw commented on #438
It is very easy to use an abao hook for this, it does require some boilerplate but I think it's our best bet for now.

[2016-08-30 16:07] #438 closed

[2016-08-30 16:22] coltonlw commented on #226
@kofalt Would you consider this completed?

[2016-08-30 16:33] nagem commented on #226
I think we have the structure for that in place with the schema hierarchy @coltonlw added.
Seems pretty done to me.

[2016-08-30 16:35] kofalt commented on #226
:+1:

[2016-08-30 16:35] #226 closed

[2016-08-30 16:55] coltonlw opened #445 "Design process for writing documentation"
Github pages only supports hosting HTML.  If we want to use our Github Pages site to host docs for our whole project, we need a way to write the documentation in something like markdown, and then convert it to HTML.  Sphinx generates HTML from RST.  It can also be used to generate HTML from markdown.  This issue is to dicsuss what want to do here

Sphinx markdown:  https://github.com/ericholscher/

[2016-08-30 17:08] coltonlw commented on #445
@ryansanford

[2016-08-30 18:35] coltonlw commented on #444
docs/ folder is in master, just need you to update the settings @gsfr

[2016-08-30 19:15] gsfr commented on #444
Settings updated, but getting a 404 from the docs now.

[2016-08-30 19:44] coltonlw commented on #444
Fixed the directory structure, it works now

[2016-08-30 19:44] #444 closed

[2016-08-30 20:07] ryansanford commented on #445
@coltonlw The REST API is the only interface that is treated as public, which we are now working towards 100% coverage thanks to your efforts. We can close this issue.

Now that I'm thinking about it, I should have had you remove the sphinx related material rather than relocate it, as its presence may be implying more public interfaces than intended.

[2016-08-30 20:16] coltonlw commented on #445
@ryansanford

This issue is about how to take custom documentation that we write, e.g. tutorials or descriptions, and turn it into HTML because github pages requires that.  Sphinx is not necessary for this (see mkdocs link) and the documentation doesn't and usually won't relate to module interfaces.  @gsfr has said he wants to use github pages for our docs, and unless we want to write them in HTML

[2016-08-30 20:28] ryansanford commented on #445
I appreciate the thinking ahead. Let's wait until we have an actionable content addition to https://scitran.github.io/core/ before we design a content management process. We'll be able to make better choices at that time.

[2016-08-30 21:45] gsfr commented on #444
Safe to delete the gh-pages branch now?

[2016-08-30 21:46] coltonlw commented on #444
Go for it

[2016-08-30 22:30] gsfr commented on #445
Besides the RAML, I think we also wanted to do Sphinx-based code documentation. Is that correct?

Beyond that, I'm not aware of any other needs for the moment.

[2016-08-31 22:13] nagem opened #447 "Add to Project Report: subject demographics grouped by race, ethnicity and sex"
Relates to: #361

[2016-08-31 22:25] nagem opened #449 "Set packfile origin from ticket info"
Since `packfile-end` is an SSE endpoint, frontend code cannot send headers (including the auth header needed to set file origin). The ticket has enough info to set it, and can be used instead.

[2016-09-01 11:35] landge commented on #440
I executed the example commands from within the docker directory. That caused the errors...
Thanks!

[2016-09-01 12:28] ryansanford commented on #440
Glad to hear.

[2016-09-01 12:28] #440 closed

[2016-09-01 16:46] coltonlw opened #451 "Traceback swallowed by error handling code"
dispatcher method in api.py does not log traceback when it catches an error that is not an instance of webapp2.HTTPException
https://github.com/scitran/core/blob/master/api/api.py#L200
Suggest removing this except block, causing the error to be handled by [WSGIApplication._internal_error](https://github.com/GoogleCloudPlatform/webapp2/blob/master/webapp2.py#L1582).  Since _internal_error does not

[2016-09-01 16:48] coltonlw opened #452 "handle_exception never used"
I can't find anywhere in the code that we are actually calling the handle_exception function from base.py

https://github.com/scitran/core/blob/master/api/base.py#L263

[code]

[2016-09-01 16:49] #449 closed

[2016-09-01 18:17] nagem commented on #452
http://webapp2.readthedocs.io/en/latest/guide/exceptions.html#exceptions-in-handlers

It's a webapp2 `RequestHandler` method.

[2016-09-01 18:18] #452 closed

[2016-09-01 18:54] nagem opened #453 "Add support for subject-level files"
#446 adds subject-level files to support the BIDS format. A user can get these files by downloading the project the subjects are in, but the normal file-level REST verbs/individual file download/elasticsearch indexing is not available currently.

Relates to #389

[2016-09-01 19:03] dpuccetti opened #454 "collections/:collectionId Response Body Empty"
The response has a 200 code both on my local environment and dev, but the response body is empty.

[2016-09-01 19:51] coltonlw opened #455 "Remove side effects from api.py"
api.py should not load files from disk on import.  That logic should be moved into a setup function which is called from app_factory

[2016-09-01 20:13] coltonlw opened #456 "Remove api.wsgi"
api.wsgi is unnecessary and because it does not end in a .py extension cannot be imported by the import statement for easy testing.  The same thing can be accomplished by using the "module" option of uwsgi and including parentheses in the callable name, to indicate it should be called once on startup and will return the wsgi callable.

--module api.api  --callable "app_factory()"

[2016-09-01 21:03] #454 closed

[2016-09-02 16:46] ryansanford opened #458 "CI Change followup"
These will get broken into separate issues.
- [x] Remove test/Dockerfile -- #474
- [x] Trigger docker image auto-build ala reaper (@gsfr)
- [ ] Block running service as root within docker entrypoint script
- [ ] Update Image to 16.04 or python 2.7 standard/slim/alpine (@gsfr) -- #786
- [ ] Switch to travis-docker build & evaluate need for ubuntu install script (@gsfr)
- [x] Remove insecure mode (@

[2016-09-02 17:04] coltonlw commented on #410
Also remove debug links

[2016-09-02 17:46] nagem opened #459 "Rework OAuth flow, use library"

[2016-09-02 17:46] nagem opened #460 "Allow analyses to use other analyses' files as input"

[2016-09-02 17:52] nagem opened #461 "Investigate ElasticSearch gram size of 2 rather than 3"
Specifically how it will affect initial indexing time

[2016-09-02 18:05] nagem commented on #404
According to [this comment](https://github.com/cybertk/abao/issues/149#issuecomment-226778697), we will not be able to send file form data using abao, or at least not yet.

Unfortunately since we expect the upload calls to be of this type, we cannot test metadata only, either.

[2016-09-02 18:11] nagem opened #462 "Don't spawn a new job object for subsequent attempts"

[2016-09-02 18:18] coltonlw opened #463 "Investigate updated newman collection format"
https://github.com/postmanlabs/newman/issues/570

[2016-09-02 18:36] nagem opened #464 "Allow items outside of mongo to be index in ElasticSearch"
Specifically very large datasets.

[2016-09-02 19:22] ryansanford commented on #410
@coltonlw Check with Imad before proceeding. He has expressed appreciation in the past with the debug links. See if there's a way to accommodate his use case in a post-insecure-mode world.

[2016-09-02 19:35] coltonlw opened #465 "Input / Output schemas and data validation for Jobs resource"
Jobs resource currently does no input validation.  Some schemas have been added in the RAML.  these must be finalized, examples finalized also.  Lastly, the Jobs resource must be modified to validate the input data using the newly created schemas

@ryansanford

[2016-09-03 00:13] gsfr commented on #458
Can we also delete `bin/load_users_drone_secret.py`?

[2016-09-06 13:50] #419 closed

[2016-09-06 16:14] kofalt commented on #465
IMO, the best way to satisfy this would be to use the `validators.validate_data` function to check a blob of json against a schema without changing all the code to be decorators & etc. Example from `placers.py`:

[code]

[2016-09-06 16:48] #421 closed

[2016-09-06 16:53] coltonlw commented on #451
This should be coordinated with #199 so that the traceback is logged to the request specific logger adapter.  Then when we get a traceback and a 500, we'll have contextual request info to aid in debugging.

[2016-09-06 16:57] coltonlw opened #470 "Remove instances of abort(500) or raise HTTPInternalServerError"
We should remove code paths in which we intentionally return a 500 status code, since this is never a desirable situation.  If there really is an internal error related to the semantics of our application, a non-http exception should be raised, because the webapp2 500 error handler is only called when the exception does not inherit from HTTPException. This ensures our custom error handling / loggi

[2016-09-06 17:15] coltonlw opened #471 "Replace custom RequestHandler.handle_exception with HTTPException base class"
webob.exc.HTTPException provides full control over the response rendered based on the exception.  We can create a base api exception class which takes care of rendering the response in JSON.  Then our exception classes like APIConsistencyException and APINotFoundException can inherit from the base api exception.  This removes the need to override RequestHandler.handle_exception like we are current

[2016-09-06 17:19] coltonlw commented on #471
@nagem You may find this relevant since we've been talking about ways to improve error handling

[2016-09-06 17:44] #447 closed

[2016-09-07 14:01] #463 closed

[2016-09-07 16:43] coltonlw opened #473 "Extend python jsonschema validator for additionalProperties to default to False"
In jsonschema additionalProperties defaults to true, see [section 5.4.4.3](http://json-schema.org/latest/json-schema-validation.html#anchor64) of the spec

This is rather unfortunate as by default input and output schemas for the api will allow arbitrary additional keys in json objects, unless we remember to set additionalProperties to false.  I recommend we extend the additionalProperties validat

[2016-09-07 16:51] coltonlw commented on #473
jsonschema package sets the value of additionalProperties to an empty dictionary if it is not present, so one route would be to change the order of the if statements such that

[code]

comes first.  This branch will be hit when additionalProperties is an empty dict since those evaluate to False.

[2016-09-07 16:53] coltonlw commented on #473
Note:  Make sure to write a unit test that our change in default behavior is taking place

[2016-09-07 17:23] ryansanford opened #474 "Dockerfile in test/ is redundant"
Many of the system requirements are now redundant with the scripts in test/bin, and not all tests can be run within it.

[2016-09-07 19:57] #474 closed

[2016-09-07 20:47] coltonlw commented on #473
This might not work because setting additionalProperties to false in the wrong place disallows all properties

[2016-09-07 20:58] ryansanford commented on #458
@gsfr We can't delete it today, as that is used for the automated installation of accounts. I'd prefer for scitran/core to continue to offer this utility script that uses the REST API for user/group creation.

[2016-09-07 22:12] gsfr commented on #458
Thanks, @ryansanford. Makes sense. For now. Eventually, I'd like to drop the drone secret functionality altogether.

Separately, I have updated the checklist above with assignments. It'd be great if someone would claim the last unassigned item, although that one should probably be done last.

[2016-09-08 14:05] #473 closed

[2016-09-08 15:28] coltonlw opened #479 "Move CURRENT_DATABASE_VERSION into api"
The variable CURRENT_DATABASE_VERSION stored in bin/database.py may be more useful if it was stored in a module of the api.  The API could then compare that variable against what's in the version singleton in the db and if there is a mismatch refuse to start without manual intervention.

[2016-09-08 15:48] coltonlw opened #480 "Add public method for validating json"
validators.py should have a public method similar to _validate_json, but which also retrieves the schema given a relative uri.  This will allow enable easy validation of input data without going through the overly complex decorator logic which also modifies jsonschema's at runtime (e.g. pop "required")

[2016-09-08 15:50] coltonlw commented on #465
@kofalt validate_data still uses the decorators underneath.  Talking to Megan we'd like to add a public function to the validators module that would retrieve a schema and validate data against it, without using decorators or manipulating the jsonschema's   I understand your concern is with the decorators and the logic implemented inside of them, so hopefully you find this proposal an even better s

[2016-09-08 15:54] kofalt commented on #465
That sounds great to me!

[2016-09-09 20:51] dpuccetti opened #484 "Subject updates are not always reflected on the project report"
After updating race/ethnicity the projects report does not always get updated.  It seems to be related to specific subjects, here is one example from dev.flywheel:

https://dev.flywheel.io/#/dashboard/session/576be45259b2b6346719ed71?tab=subject

[2016-09-12 16:15] #199 closed

[2016-09-12 17:30] lmperry opened #486 "Allow "version" to be set when uploading analysis"
Currently I can't specify the `version` of a given analysis when uploading an analysis via the scitran client CLI. Let's modify the analysis input schema to allow the version of the analysis to be set as well.

Bonus: Allowing `tags` to be set would be great too.

https://github.com/scitran/core/blob/master/raml/schemas/input/analysis.json#L1-L26

[2016-09-12 17:34] #480 closed

[2016-09-12 19:34] coltonlw opened #487 "Measure integration test coverage"
http://stackoverflow.com/questions/19025336/how-to-get-coverage-data-from-a-django-app-when-running-in-gunicorn

[2016-09-12 19:37] coltonlw commented on #404
The majority of the remaining skipped tests are for Jobs, which just need a workflow test for creating a project and session and uploading data, so those objects are available in the API to enable creating a test job.  I'm working on that in a feature branch so I'll steal this issue.

[2016-09-13 00:21] coltonlw commented on #451
fixed by #482

[2016-09-13 00:21] #451 closed

[2016-09-13 14:28] #410 closed

[2016-09-13 14:45] #465 closed

[2016-09-13 19:24] #380 closed

[2016-09-13 19:28] #381 closed

[2016-09-13 19:28] #382 closed

[2016-09-13 21:33] nagem commented on #484
@dpuccetti @elisapoquette, it looks like the Emotion Regulation project has 5 subjects, each with two sessions. The subjects came in with the same subj_code, so we gave them the same `id` in the db to keep them together. Looks like someone modified one of `emoreg_s5`'s codes to be `Test Subject 1`, which makes it appear as a different subject but the backend still connects it to the existing `emor

[2016-09-13 21:35] nagem commented on #484
If that explanation is sufficient, feel free to close this ticket. We can open a new one for dealing with subject code changes, if necessary.

[2016-09-14 15:16] kofalt opened #492 "Only allow valid gears to be submitted to POST /gears"
Now that we're using the `gear_tools` library, we can validate that a gear manifest is actually valid :+1:

[2016-09-14 15:57] kofalt opened #493 "Improve speed / caching of run-tests-docker.sh"
`run-tests-docker.sh` works great, but does a bunch of pip/npm/docker cycling on each run.

Since this is something to run iteratively, it would be nice to jump straight to the actual tests, using a clean & already-built set of containers if they've been built before.

[2016-09-14 17:38] coltonlw commented on #493
@ryansanford I'm going to investigate this see how much of the native testing can use the docker test script instead, nice work you did there.

[2016-09-14 18:50] nagem commented on #460
Closed via #483

[2016-09-14 18:51] #460 closed

[2016-09-14 19:07] nagem opened #495 "Session templates"
Allow projects to specify a "session template" - an expected format for the acquisitions and their files.

Plan for implementation:
 - A project can have a singular `session_template`, in the format of a json schema
 - A boolean flag on each session will be `true` if its acquisitions are in compliance with the template
 - When files are added or removed from an acquisition, the session's complianc

[2016-09-14 19:38] #487 closed

[2016-09-14 19:59] elisapoquette opened #497 "Sprint Goals 10/3 -10/14"

[2016-09-14 19:59] #497 closed

[2016-09-19 15:43] ryansanford opened #504 "Dockerized data bootstrapping uses older reaper version"
Update to latest reaper release that supports BIDS style subject data.

[2016-09-19 17:38] coltonlw opened #507 "Error listing collection curators"
I am unable to hit /api/collections/curators to list collection curators   I believe the issue is in CollectionHandler.curators where we call self.get_all,    get_all doesn't take any arguments (besides self)

Relevant lines:

[code]

Full traceback:

[code]

@ryansanford Assigning you to put this in the work queue if desired

[2016-09-20 15:43] coltonlw commented on #507
@rentzso I see you added this endpoint, can you explain what it's for and if we should fix or remove it?

1e42681b (Renzo Frigato   2015-10-06 10:50:37 -0700 130)     def curators(self):

[2016-09-20 15:57] rentzso commented on #507
This was used by the previous version of the UI.
I wouldn't remove it as the fix should be straightforward.

[2016-09-20 22:31] lmperry opened #508 "Config not being created on job doc from UI request"
Running an analysis gear with config in the UI results in a job doc with no config in the DB.

job payload in the requst, sent to `https://flywheel.scitran.stanford.edu/api/sessions/578fd89b3def08869cb409ee/analyses?job=true` is here:
[code]

job in the DB is:
[code]
End result is that the gear is never delivered the `config.json` file.

Can be tested with latest dtiinit-demo or afq-demo gear.

cc

[2016-09-21 01:40] coltonlw commented on #507
@rentzso thank you

[2016-09-21 01:42] coltonlw commented on #507
@rentzso Would the fix be just to remove the "collections" argument, my guess is previously we were calling the get_all method of ContainerHandler, but now get_all is defined on CollectionsHandler?

[2016-09-21 01:50] rentzso commented on #507
Yes, that should work. Trying to think if there is something I am missing there, but I don't think so.

Good catch, by the way!

[2016-09-21 01:55] coltonlw commented on #507
@rentzso I was a little off, get_all wasn't a new method of CollectionHandler, we changed it's signature in this commit https://github.com/scitran/core/commit/f4da8b4e54bda1232a472e927aa189f3602ca816/?diff=split#diff-83d2b08159658cfe13794fe5e54eb197L101, Megan removed the cont_name argument because it was unused in the function.  So a one-line fix to the calling function curators which I'll make i

[2016-09-21 16:35] #508 closed

[2016-09-22 14:46] #504 closed

[2016-09-22 19:00] coltonlw opened #511 "Create jsonschema for "request" property of /jobs/next output"
I'd like some help creating a jsonschema for the output of /jobs/next, specifically the "request" property

[code]

[2016-09-22 19:36] nagem commented on #511
It's interesting the first object in the `inputs` array is empty. Is that a bug or expected?

[2016-09-22 19:58] coltonlw commented on #511
@nagem Seems to be a bug, I added "uri" as a required property of objects in the inputs array, so the tests error when there's an empty object in requests array, and it happens on every test run with the test job we add.  Link to travis build incoming

[2016-09-22 19:58] coltonlw commented on #511
https://travis-ci.org/scitran/core/builds/162012945

[2016-09-22 19:59] coltonlw commented on #511
Here's the body of the postman request we use to add the job:

[code]

[2016-09-23 16:33] coltonlw opened #512 "Server RAML with uWSGI and local api console"

[2016-09-26 18:26] coltonlw opened #513 "Empty input document added to /jobs/next output"
Example (notice empty document in "inputs" array):

[code]

Build output when empty input item is not allowed:
https://travis-ci.org/scitran/core/builds/162012945

Body of request used to add this job:

[code]

[2016-09-26 18:26] coltonlw commented on #513
@ryansanford this is a bug can you help me prioritize it in the work queue

[2016-09-26 20:31] ryansanford commented on #513
@kofalt Is this empty input document, or its removal via a fix, risky from the perspective of the engine?

@coltonlw Assuming risk is low, my preference is to put this towards the top so details aren't lost/forgotten.

[2016-09-26 20:38] coltonlw commented on #513
This might be caused by the job added using the example input from the RAML, which has an acquisition ID that doesn't exist.

[code]

[2016-09-27 21:33] nagem opened #515 "Downloading a subset of acquisitions from a session results in a 500"
Error:
`{"status_code": 500, "message": "local variable 'session' referenced before assignment"}`

Request:
[code]

[2016-09-27 21:46] nagem opened #516 "Filter subject data in search"
When searching all data, filter out subject data for session the user does not have access to.

[2016-09-28 14:44] coltonlw opened #517 "Error when listing jobs for container that doesn't exist"
Steps to reproduce:

1) Make a request to list jobs for a container, setting the container ID uri parameter to a non-existent object id

Impact: low

Scope:  Affects all ContainerHandler resources

Example request and traceback:

[code]

[2016-09-28 15:01] ryansanford commented on #511
@nagem and @coltonlw As discussed, look into root cause and prioritize as needed. No need to assign back to me unless this causes priority conflicts.

Thanks.

[2016-09-28 15:08] coltonlw commented on #511
@nagem This may be caused by the job added with a static acquisition ID which does not exist in the system

[code]

[2016-09-28 15:11] coltonlw commented on #511
I think priority is medium because it's causing the output test for /jobs/next in my feature branch to fail so I can't progress with that until this is fixed

[2016-09-28 15:13] ryansanford commented on #517
@coltonlw
Agree on priority. Added Design label to indicate agreement on consistent behavior when invalid container IDs are requested. I'm going to assign back to you for consideration after RAML spec is complete.

Added

[2016-09-28 15:16] ryansanford commented on #493
@kofalt I believe PR #500 resolved this issue. Can you confirm?

[2016-09-28 15:43] kofalt commented on #493
Yes, it seems to work pretty well now :)

[2016-09-28 15:43] #493 closed

[2016-09-28 20:49] #492 closed

[2016-09-29 14:28] elisapoquette commented on #387
@nagem any update on reducing the length to 2 characters? I would like to close out this ticket

[2016-09-29 14:59] elisapoquette opened #519 "Inability to Search on less than 3 characters"
Review how reducing the min_gram length to 2 will affect indexing time on larger datasets.

Double checking on use cases/necessity before prioritizing

[2016-09-29 15:00] #387 closed

[2016-09-29 20:52] ryansanford opened #520 "Trigger dockerhub builds"
Dockerhub builds should be triggered for
- pushes/merges to master branch
- tag pushes

[2016-09-29 20:52] ryansanford commented on #520
This addresses one of the items in #458

[2016-09-29 22:57] #515 closed

[2016-09-30 00:03] #423 closed

[2016-09-30 16:13] nagem opened #523 "Jobs listing for session should report who started each job"

[2016-09-30 16:17] #523 closed

[2016-10-03 17:44] #520 closed

[2016-10-04 14:23] coltonlw commented on #513
@ryansanford this is blocking merging api-spec-containers because the response from this endpoint does not validate against the output jsonschema during testing

[2016-10-04 14:57] ryansanford commented on #513
@coltonlw Was it confirmed whether the empty array item is related to the non-existant acquisition id? Please identify root cause, and propose a fix.

[2016-10-04 15:40] coltonlw commented on #513
generate_request() from jobs.py is what creates the request sub-document.  It appends the "input" property from the gear document for the job to the inputs array.

https://github.com/scitran/core/blob/master/api/jobs/jobs.py#L194

In the test-case gear we set the "input" property to an empty object which is what's causing this (at the very end of the line linked to below)

https://github.com/scitr

[2016-10-04 17:30] ryansanford commented on #513
@coltonlw I don't think that `input` object belongs on the POST gears endpoint. Our infrastructure certainly doesn't provide that when registering gears.

I think there's 2 action items.
1. Remove that `input` object causing this behavior on `jobs/next`. This should unblock the merging of api-spec-containers?
2. Improve core to fail adding invalid gears that can break downstream functionality, or

[2016-10-04 17:35] coltonlw commented on #513
@ryansanford Can you explain more what you mean that the "input" object does not belong?  According the code in generate_request() which I linked to we expect the gear to have a property called "input".  Also @kofalt was the one who added the postman test for creating the test case gear, maybe he can explain what the input property of the gear is for

[2016-10-04 18:23] ryansanford commented on #513
I was wrong, the `input` object does belong on the POST gears endpoint for adding a gear, and should be required with the members `location` `type` and `uri`.

[2016-10-04 18:26] coltonlw commented on #513
Thanks @ryansanford 👍

@kofalt Should I just add some dummy values to the test case gear?

[2016-10-04 18:40] coltonlw opened #524 "Files array on subject input broken"
When creating a new session one of the properties of the session is "subject".  One of the properties of subject is the "files" array.  Specifying a value for the files array causes a 500 error because there is no code that adds the "created" and "modified" properties to each document in the files array, which are required by the mongo schema for files, so validation fails when saving to the datab

[2016-10-04 18:43] kofalt commented on #513
@coltonlw That would probably work, eys

[2016-10-04 18:47] coltonlw commented on #513
@ryansanford is "vu" also a required property of the input object?

[2016-10-04 18:55] coltonlw commented on #513
@ryansanford @kofalt I guess the other input documents do not have the "vu" property.  I am also curious about the "type" property, in the example Ryan sent me it was "http", some of the other "input" documents from the response have this set to "scitran"
What does it mean if the input type is "scitran" and is this a good jsonschema snippet for that property?

           "type":{"enum":["http", "s

[2016-10-04 19:08] coltonlw commented on #524
@ryansanford this is a blocker for api-spec-containers

[2016-10-04 19:09] nagem commented on #524
Just a few things that might explain this:

1. The `files` array should never be in an input schema for a container (projects/sessions/acquisitions). The lists are modified through `api/<cont_name>/<cont_id>/<list_name>` (but files can also be modified through one of the upload endpoints).
2. Subject-level files are in an in-flux state. They were added to support the BIDS format and more work need

[2016-10-04 19:13] nagem commented on #524
I see that `files` is in the current input schema, that is the actual bug 😄.

[2016-10-04 19:15] coltonlw commented on #524
Did you add it there to support update behavior on PUT where we use the same schema as new object / POST ?

[2016-10-04 19:17] nagem commented on #524
I'm not sure why it was added, but adding subject files is only supported via the `api/upload` endpoint.

[2016-10-04 20:02] coltonlw commented on #524
Thing number 1 from your previous comment led me to believe files array could be edited via one of the api/<cont_name>/<cont_id>/<list_name>  routes, are you saying that's not true?

https://github.com/scitran/core/commit/5b2e8c601c077ea9b998af47bde008476ce9016d#diff-887dbc1139435dcd879269c42e817e21L15

[2016-10-04 20:05] nagem commented on #524
Correct. I meant input schema in the old style, where we had input and mongo. It is part of the storage/output schema but never part of the input/update schema.

[2016-10-04 20:08] coltonlw commented on #524
What are storage/output schemas vs input/update schemas?

[2016-10-04 20:19] nagem commented on #524
I was attempting to describe the new organization of schemas you've proposed with the rework:

https://github.com/scitran/core/tree/api-spec-containers/raml/schemas/output

vs

https://github.com/scitran/core/tree/api-spec-containers/raml/schemas/input

I used the word "storage" to mean schemas that more closely represent how the data is stored, which is usually observed through output from the AP

[2016-10-04 20:19] coltonlw commented on #524
What I'm really trying to ask is why are you referring to storage/output schemas as one unit and input/update schemas as another?    There were no output schemas until I began creating them.  The output schemas I've created were made to share definitions with the input schemas, and are completely separate from the mongo schemas, although later the mongo schemas could be updated to share definition

[2016-10-04 20:25] ryansanford commented on #513
`vu` Is not required for gears/{id} or jobs/next.

I would advocate for minimal schema validation of POST to gears/{id} today, existence check only, since it is likely changing soon related to the gear exchange integration.

[2016-10-04 20:31] nagem commented on #524
The other information is distracting from the heart of the issue, we can have a conversation offline to make it more clear.

For now - to close this issue, remove the "files" key from the "subject" key in the session input schema.

[2016-10-04 20:41] ryansanford commented on #524
@coltonlw Priority for the RAML spec blocking issues is below session templates, and regression bugs blocking the cut of the next release. Thanks for scoping this out, and the work on identifying a resolution.

@nagem Thanks for adding context and info on this issue to help unblock @coltonlw.

[2016-10-05 01:11] gsfr commented on #402
The answer is no. Fieldmaps would be represented as "B0, quantitative" or "B1, quantitative".

[2016-10-05 19:37] kofalt opened #525 "Add request ID to error returns"
Sometimes, when the API falls over, we don't get a ton back:

[code]

Let's add the `request_id`!

[code]

That would allow us to grep for the right stack trace.

Ideally this would be at the outer serialization layer to have the best chance of being added.

[2016-10-05 19:39] nagem opened #526 "Project Report 500s when there are no sessions in the date range for the project"
Ensure the entire report is still returned, just zero'd out for info about sessions.

[2016-10-05 20:54] ryansanford commented on #526
@nagem please prioritize this above project stats work.

[2016-10-06 16:22] #526 closed

[2016-10-06 16:37] #484 closed

[2016-10-06 16:40] nagem opened #528 "Handle subject id properly when subject code changes"
Currently if you add a new subject with the same code as an existing subject in the project, it will have the same ID. We do not properly handle a change to an existing subject's code.

[2016-10-06 16:41] nagem commented on #528
See https://github.com/scitran/core/issues/484

[2016-10-06 16:42] nagem opened #529 "Add ability to GET stats about a project/list of projects"
For each Project, calculate
- [x] Number of Subjects
- [x] Number of Attachments

[2016-10-07 20:12] mattmiddione commented on #402
Compressed Sensing, Fingerprinting, Localizers, High Order Shim, Calibration Scans, Anatomy, and Perfusion vs. ASL

[2016-10-10 20:06] coltonlw opened #534 "ListHandler uses kwargs in place of query params"
See this line of ListHandler.get, where the "query_params" argument to the validation function is set to "kwargs" instead of request.GET

https://github.com/scitran/core/blob/master/api/handlers/listhandler.py#L130

Example API call:

curl -k -H "Authorization: scitran-user xxx" https://docker.local.flywheel.io:8443/api/groups/scitran/roles?_id=scitran

Example response:

[code]

Traceback:

[code

[2016-10-10 20:10] coltonlw opened #535 "URL rule for /api/groups/GroupId/roles should only allow POST"
This URL rule only works for POST request, due to #534 , and it seems to be this route was only intended to allow POST method.  Suggested resolution is to specify "methods" argument when adding the url rule for this route

https://github.com/scitran/core/blob/master/api/api.py#L150

[2016-10-10 20:38] coltonlw commented on #534
We will have to leave this behavior as-is, because routes use uri parameters in place of query parameters and depend on "query_params" argument being set to "kwargs" of the handler method.  Suggest properly restricting methods for those routes which do not have the appropriate uri parameters, such as #535

[2016-10-10 20:39] coltonlw commented on #534
@nagem Let me know what you think, if we are going to leave the existing behavior per my previous comment

[2016-10-10 22:55] rentzso opened #536 "Timestamps on packfile uploads are not compatible with label uploads"
On packfile uploads, this is what I get a plain string. `2013-04-19T16:15:29.000Z`
On label uploads an ISODate is created.

[2016-10-10 22:58] #529 closed

[2016-10-11 14:34] coltonlw opened #537 "Runtime modification of jsonschema's forces duplication"
validators.py  will remove the "required" keyword from a jsonschema on "update" operations.  We do this instead of having a separate schema for "new object" and "update object" operations.  Because of this, "required" must only be specified at the top-level of each input schema, preventing schemas from re-using a shared object definition where "required" is defined

https://github.com/scitran/core

[2016-10-11 14:40] kofalt commented on #537
A dumb patch might be to walk the schema, removing each instance of any `required` key, but that would likely cause its own problems.